@topicIndent: 1.5em;
@textareaPadding: .3em;
@editorToolbarHeight: 40px;
@editorMinHeight: 10em;

// @todo: Use same variable as MobileFrontend

@small: 768px;
@medium: 1165px;
@large: 1200px;
@xlarge: 2000px;