@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

// Visually mark moderated comments and posts
.flow-topic-moderated {

	.flow-topic-titlebar {
		background-color: white;
		border: solid 1px @colorGrayLight;
	}

	&.flow-topic-collapsed .flow-author {
		display: none;
	}
}

// @todo: Describe in generic class, consolidate with terms-of-use class
.flow-topic-moderated,
.flow-moderated-post-content,
.flow-post-moderated {
	color: @colorTextLight;
}
