@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

// Avoid flash of unstyled content
.client-js {
	.flow-anon-warning {
		display: none;
	}
}

.flow-board {
	.flow-anon-warning {
		margin-bottom: 0.75em;
		a {
			// FIXME: Due to the lack of a fix for bug 66746 this link is treated as an external link.
			// Yes Shahyar !important is bad
			// but the alternative css hacks that would be needed here are even more horrible.
			color: #fff !important;
			font-weight: bold;
		}
	}
}

// Form button actions should be right-affixed
.flow-form-actions {
	position: relative;
	margin-top: .25em;

	button.flow-ui-button, a.flow-ui-button {
		float: right;
		margin-left: .25em;
	}
}

// TOU should be tiny and grey, within flow-form-actions
.flow-terms-of-use {
	display: table-cell;
	height: 3.6em;
	vertical-align: middle;
	color: @colorTextLight;
	font-size: .65em;
	line-height: 1em;
}

// MEDIA QUERIES
@media (max-width: 600px) and (min-device-width: 700px), (max-device-width: 700px) {
	.flow-form-actions {
		font-size: 0.75em;

		.flow-ui-button {
			.box-sizing(border-box);
			margin-left: 0;
			width: 100%;
			float: none;
		}

		.flow-terms-of-use {
			display: block;
			height: auto;
			font-size: 7px;
			text-align: center;
		}
	}
}

// Preview
.flow-content-preview {
	word-wrap: break-word;
	word-break: break-word;

	background-color: #FDFFE7;
	border: 1px solid #FCEB92;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	white-space: normal;
	overflow: auto;

	display: none; // Hide initially

	.flow-preview-sub-container {
		margin-top: 5px;
	}
}
