@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

@font-face {
	font-family: 'WikiFont-Glyphs';
	src: url('../fonts/WikiFont-Glyphs.eot'); /* IE9 Compat Modes */
	src: url('../fonts/WikiFont-Glyphs.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/WikiFont-Glyphs.woff') format('woff'), /* Modern Browsers */
	url('../fonts/WikiFont-Glyphs.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('../fonts/WikiFont-Glyphs.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}

// Icon set
.wikiglyph {
	display: inline-block;
	font-family: 'WikiFont-Glyphs';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	overflow: visible;
	vertical-align: text-bottom;
	height: .7em;
	font-size: 1.6em;
	line-height: .7em;
	white-space: nowrap;

	&:not(_) { // blocks incompatible browsers
		// hide screen reader inline text
		width: 1em;
		&:first-line {
			font-size: 0;
			line-height: 0;
		}

		// render icon, using a newline hack to remove the first blank line
		&:after {
			white-space: pre-line;
			display: inline-block;
			vertical-align: bottom;
			margin-bottom: -.7em;
			height: 100%;
		}
	}
}


/* UI ELEMENTS e000-023
*/

.wikiglyph-magnifying-glass:after {
	content: "\a\e000";
}
.wikiglyph-arrow-left:after {
	content: "\a\e001";
}
.wikiglyph-tick:after {
	content: "\a\e002";
}
.wikiglyph-x:after {
	content: "\a\e003";
}
.wikiglyph-x-circle:after {
	content: "\a\e004";
}
.wikiglyph-unstar:after {
	content: "\a\e005";
}
.wikiglyph-star:after {
	content: "\a\e006";
}
.wikiglyph-star-list:after {
	content: "\a\e007";
}
.wikiglyph-sun:after {
	content: "\a\e008";
}
.wikiglyph-funnel:after {
	content: "\a\e009";
}
.wikiglyph-eye:after {
	content: "\a\e010";
}
.wikiglyph-eye-lid:after {
	content: "\a\e011";
}
.wikiglyph-bookmark:after {
	content: "\a\e012";
}
.wikiglyph-printer:after {
	content: "\a\e013";
}
.wikiglyph-puzzle:after {
	content: "\a\e014";
}
.wikiglyph-clock:after {
	content: "\a\e015";
}
.wikiglyph-dice:after {
	content: "\a\e016";
}
.wikiglyph-move:after {
	content: "\a\e017";
}
.wikiglyph-gear:after {
	content: "\a\e018";
}
.wikiglyph-ellipsis:after {
	content: "\a\e019";
}
.wikiglyph-envelope:after {
	content: "\a\e020";
}
.wikiglyph-pin:after {
	content: "\a\e021";
}
.wikiglyph-share:after {
	content: "\a\e022";
}
.wikiglyph-download:after {
	content: "\a\e023";
}
.wikiglyph-bell:after {
	content: "\a\e025";
}
.wikiglyph-bell-ring:after {
	content: "\a\e026";
}
.wikiglyph-caret-left:after {
	content: "\a\e027";
}
.wikiglyph-caret-down:after {
	content: "\a\e028";
}


/* EXPERIMENTS e300-301
*/
.wikiglyph-star-circle:after {
	content: "\a\e300";
}
.wikiglyph-rocket:after {
	content: "\a\e301";
}


/* STRIPES e040-043
*/
.wikiglyph-stripe-compact:after {
	content: "\a\e040";
}
.wikiglyph-stripe-toc:after {
	content: "\a\e041";
}
.wikiglyph-stripe-expanded:after {
	content: "\a\e042";
}


/* WIKIPEDIA LOGO e400-401
*/

.wikiglyph-w:after {
	content: "\a\e400";
}


/* UI MODERATION ELEMENTS e500-508
*/

.wikiglyph-article:after {
	content: "\a\e100";
}
.wikiglyph-article-check:after {
	content: "\a\e101";
}
.wikiglyph-article-search:after {
	content: "\a\e102";
}

.wikiglyph-trash:after {
	content: "\a\e500";
}
.wikiglyph-trash-slash:after {
	content: "\a\e501";
}
.wikiglyph-block:after {
	content: "\a\e502";
}
.wikiglyph-block-slash:after {
	content: "\a\e503";
}
.wikiglyph-flag:after {
	content: "\a\e504";
}
.wikiglyph-flag-slash:after {
	content: "\a\e505";
}
.wikiglyph-play:after {
	content: "\a\e506";
}
.wikiglyph-stop:after {
	content: "\a\e507";
}
.wikiglyph-lock:after {
	content: "\a\e508";
}


/* USER e600-602
*/
.wikiglyph-user-bust:after {
	content: "\a\e600";
}
.wikiglyph-user-smile:after {
	content: "\a\e601";
}
.wikiglyph-user-sleep:after {
	content: "\a\e602";
}


/* TRANSLATION e700
*/
.wikiglyph-translate:after {
	content: "\a\e700";
}


/* CONTRIBUTION e800-845
*/
.wikiglyph-pencil:after {
	content: "\a\e800";
}
.wikiglyph-pencil-revert-full:after {
	content: "\a\e801";
}
.wikiglyph-pencil-revert-pt1:after {
	content: "\a\e802";
}
.wikiglyph-pencil-revert-pt2:after {
	content: "\a\e803";
}
.wikiglyph-pencil-lock-full:after {
	content: "\a\e804";
}
.wikiglyph-pencil-lock-pt1:after {
	content: "\a\e805";
}
.wikiglyph-pencil-lock-pt2:after {
	content: "\a\e806";
}
.wikiglyph-speech-bubble:after {
	content: "\a\e810";
}
.wikiglyph-speech-bubbles:after {
	content: "\a\e811";
}
.wikiglyph-speech-bubble-add:after {
	content: "\a\e812";
}
.wikiglyph-speech-bubble-smile:after {
	content: "\a\e813";
}
.wikiglyph-link:after {
	content: "\a\e820";
}
.wikiglyph-quotes:after {
	content: "\a\e830";
}
.wikiglyph-quotes-add:after {
	content: "\a\e831";
}
.wikiglyph-image:after {
	content: "\a\e840";
}
.wikiglyph-image-lock-full:after {
	content: "\a\e841";
}
.wikiglyph-image-lock-pt1:after {
	content: "\a\e842";
}
.wikiglyph-image-lock-pt2:after {
	content: "\a\e843";
}
.wikiglyph-image-add-full:after {
	content: "\a\e844";
}
.wikiglyph-image-add-pt1:after {
	content: "\a\e845";
}
.wikiglyph-image-add-pt2:after {
	content: "\a\e846";
}
.wikiglyph-image-main-placeholder:after {
	content: "\a\e847";
}
.wikiglyph-folder:after {
	content: "\a\e848";
}
.wikiglyph-folder-main-placeholder:after {
	content: "\a\e849";
}

.wikiglyph-cc:after {
	content: "\a\e870";
}
.wikiglyph-book:after {
	content: "\a\e871";
}
.wikiglyph-journal:after {
	content: "\a\e872";
}
.wikiglyph-web:after {
	content: "\a\e873";
}
.wikiglyph-news:after {
	content: "\a\e874";
}
/* WIKI-X e900+
*/
.wikiglyph-wikitrail:after {
	content: "\a\e900";
}
.wikiglyph-wikicommons:after {
	content: "\a\e901";
}