@import 'settings/colors.less';
@import 'mixins/helpers.less';

@font-face {
  font-family: 'WikiFont-Regular';
  src: url('../fonts/WikiFont.eot');
  src: url('../fonts/WikiFont.eot?#iefix') format('embedded-opentype'), url('../fonts/WikiFont.woff') format('woff'), url('../fonts/WikiFont.ttf')  format('truetype'), url('../fonts/WikiFont.svg#b618f6c47120d6564c09540516f52967') format('svg');
}

.flow-menu {
	position: absolute;
	bottom: 0;
	right: 0;

	ul {
		margin: 0;
		padding: 0;
		font-size: 0.75em;
	}
	li {
		display: inline;
		margin: 0;
		list-style: none;

	}

	.flow-menu-js-drop {
		display: none;
	}
}

// Use child selector to block IE6; it doesn't support :hover
.client-js div > .flow-menu {
	top: 0;
	bottom: auto;
	display: block;
	border: none;

	&:hover,
	&.focus {
		z-index: 2;

		ul {
			display: block;
		}

		.flow-menu-js-drop a {
			outline: none;
			border-color: transparent;
			background: transparent;
			background: rgba(0,0,0,0.05);

			.caret {
				border-top-color: #000;
			}
		}
	}

	ul {
		display: none;
		font-size: 1em;
		box-shadow: 0 1px 2px @colorGrayLight;
		background: #fff;
		border-radius: 2px;
	}

	li {
		display: block;
	}

	.flow-menu-js-drop {
		display: block;
		text-align: right;
		text-indent: 0;
		cursor: pointer;

		a {
			display: inline-block;
			padding: 0 .5em;
			border: 1px solid @colorGrayLight;
			border-radius: 3px;
			border-width: 0;
			color: @colorTextLight;
		}
	}
}
.client-js div.flow-post > .flow-menu {
	.flow-menu-js-drop {
		a {
			border-color: @colorGrayLightest;
			border-width: 0;
		}
	}
}

.flow-timestamp {
	.boxSizing( border-box );
	display: inline-block;
	text-align: left;
}

.flow-timestamp-ago,
.flow-timestamp-now {
	.boxSizing( border-box );
	display: block;
	position: relative;
	line-height: 1em;
}
.flow-timestamp-ago {
	margin-top: -1em;
	line-height: 1em;
}

.client-nojs .flow-timestamp {
	.flow-timestamp-now {
		display: none;
	}
	.flow-timestamp-ago {
		display: block;
	}
}
.client-js .flow-timestamp {
	.flow-timestamp-now {
		display: none;
	}
	.flow-timestamp-ago {
		display: block;
	}

	&:hover {
		.flow-timestamp-now {
			display: block;
		}
		.flow-timestamp-ago {
			display: none;
		}
	}
}

// Collapser states
// Hide the other two collapser buttons initially; these are toggled by a single click
.flow-board-navigation {
	a.flow-board-collapser-compact,
	a.flow-board-collapser-topics {
		display: none;
	}
}
// In compact mode, posts are hidden, and the topic titlebar is minimized
.flow-board-collapsed-compact {
	.flow-board-navigation {
		a.flow-board-collapser-compact {
			display: inline-block;
		}
		a.flow-board-collapser-full {
			display: none;
		}
	}

	.flow-topic {
		padding-bottom: 0;

		h2.flow-topic-title {
			margin-bottom: 0;
		}

		.flow-author,
		.flow-topic-meta {
			display: none;
		}

		.flow-reply-count {
			display: block;
		}
	}

	.flow-post,
	.flow-reply-form {
		display: none;
	}
	.flow-topic-collapsed-invert {
		.flow-post,
		.flow-reply-form {
			display: block;
		}
	}
}
// In topics mode, posts are hidden; only the topic titlebar is visible
.flow-board-collapsed-topics {
	.flow-board-navigation {
		a.flow-board-collapser-topics {
			display: inline-block;
		}
		a.flow-board-collapser-full {
			display: none;
		}
	}

	.flow-post,
	.flow-reply-form {
		display: none;
	}
	.flow-topic-collapsed-invert {
		.flow-post,
		.flow-reply-form {
			display: block;
		}
	}
}

.flow-topic-collapsed-invert {
	.flow-post,
	.flow-reply-form {
		display: none;
	}
}

// Show that the topic titlebar is clickable
.flow-topic-titlebar {
	cursor: pointer;
	outline: none;

	// Render a shadow
	&:hover,
	&:focus {
		.box-shadow( ~"inset 0 -1px 0px 1px @{colorGrayLighter}, 0 1px 1px @{colorGrayLightest}" );

		&:after {
			display: inline-block;
			font-family: 'WikiFont-Regular';
			position: absolute;
			font-size: 1em;
			bottom: 0;
			right: .5em;
			color: @colorTextLight;

			// Set icon
			content: "\e040"; // compact
			.flow-topic-collapsed-invert & {
				content: "\e042"; // expanded
			}
			// Concept is inverted with compact styles
			.flow-board-collapsed-compact &,
			.flow-board-collapsed-topics & {
				content: "\e042"; // expanded
			}
			.flow-board-collapsed-compact .flow-topic-collapsed-invert &,
			.flow-board-collapsed-topics .flow-topic-collapsed-invert & {
				content: "\e040"; // compact
			}
		}
	}

	// Fade out the posts to show they will disappear
	&:hover + .flow-post {
		opacity: .85;
	}
}

// Wikicons (glyphs)
.WikiFont {
	display: inline-block;
	height: .8em;
	font-family: 'WikiFont-Regular';
	-webkit-font-smoothing: antialiased;
	font-size: 1.8em;
	font-style: normal;
	font-weight: normal;
	line-height: 21px;
	overflow: visible;
	vertical-align: text-bottom;
}
.WikiFont:before {
	//margin-left: -.25em;
}

/* UI ELEMENTS e000-023
*/
.WikiFont-magnifying-glass:before {
  content: "\e000";
}
.WikiFont-arrow-left:before {
  content: "\e001";
}
.WikiFont-tick:before {
  content: "\e002";
}
.WikiFont-x:before {
  content: "\e003";
}
.WikiFont-x-circle:before {
  content: "\e004";
}
.WikiFont-unstar:before {
  content: "\e005";
}
.WikiFont-star:before {
  content: "\e006";
}
.WikiFont-sun:before {
  content: "\e007";
}
.WikiFont-star-circle:before {
  content: "\e008";
}
.WikiFont-funnel:before {
  content: "\e009";
}
.WikiFont-eye:before {
  content: "\e010";
}
.WikiFont-eye-lid:before {
  content: "\e011";
}
.WikiFont-bookmark:before {
  content: "\e012";
}
.WikiFont-printer:before {
  content: "\e013";
}
.WikiFont-puzzle:before {
  content: "\e014";
}
.WikiFont-clock:before {
  content: "\e015";
}
.WikiFont-dice:before {
  content: "\e016";
}
.WikiFont-move:before {
  content: "\e017";
}
.WikiFont-gear:before {
  content: "\e018";
}
.WikiFont-ellipsis:before {
  content: "\e019";
}
.WikiFont-envelope:before {
  content: "\e020";
}
.WikiFont-pin:before {
  content: "\e021";
}
.WikiFont-caret:before {
  content: "\e022";
}
.WikiFont-download:before {
  content: "\e023";
}


/* STRIPES e040-043
*/
.WikiFont-stripe-compact:before {
  content: "\e040";
}
.WikiFont-stripe-toc:before {
  content: "\e041";
}
.WikiFont-stripe-expanded:before {
  content: "\e042";
}


/* WIKIPEDIA LOGO e400
*/

.WikiFont-w:before {
  content: "\e400";
}


/* UI MODERATION ELEMENTS e500-508
*/
.WikiFont-article:before {
  content: "\e100";
}
.WikiFont-article-check:before {
  content: "\e101";
}
.WikiFont-article-search:before {
  content: "\e102";
}

.WikiFont-trash:before {
  content: "\e500";
}
.WikiFont-trash-slash:before {
  content: "\e501";
}
.WikiFont-block:before {
  content: "\e502";
}
.WikiFont-block-slash:before {
  content: "\e503";
}
.WikiFont-flag:before {
  content: "\e504";
}
.WikiFont-flag-slash:before {
  content: "\e505";
}
.WikiFont-play:before {
  content: "\e506";
}
.WikiFont-stop:before {
  content: "\e507";
}
.WikiFont-lock:before {
  content: "\e508";
}

/* USER e600-602
*/
.WikiFont-user-bust:before {
  content: "\e600";
}
.WikiFont-user-smile:before {
  content: "\e601";
}
.WikiFont-user-sleep:before {
  content: "\e602";
}

/* TRANSLATION e700
*/
.WikiFont-translate:before {
  content: "\e700";
}

/* CONTRIBUTION e800-845
*/
.WikiFont-pencil:before {
  content: "\e800";
}
.WikiFont-pencil-revert:before {
  content: "\e801";
}
.WikiFont-pencil-lock:before {
  content: "\e802";
}

.WikiFont-speech-bubble:before {
  content: "\e810";
}
.WikiFont-speech-bubbles:before {
  content: "\e811";
}
.WikiFont-speech-bubble-add:before {
  content: "\e812";
}
.WikiFont-speech-bubble-smile:before {
  content: "\e813";
}

.WikiFont-link:before {
  content: "\e820";
}

.WikiFont-quotes:before {
  content: "\e830";
}
.WikiFont-quotes-add:before {
  content: "\e831";
}

.WikiFont-image:before {
  content: "\e840";
}
.WikiFont-image-lock:before {
  content: "\e841";
}
.WikiFont-image-add:before {
  content: "\e842";
}
.WikiFont-image-main-placeholder:before {
  content: "\e843";
}
.WikiFont-folder:before {
  content: "\e844";
}
.WikiFont-folder-main-placeholder:before {
  content: "\e845";
}

/* WIKI-X e900
*/
.WikiFont-wikitrail:before {
  content: "\e900";
}

@media (max-width: 700px) and (min-device-width: 700px), (max-device-width: 700px) {
	ul.flow-menu {
		position: static;
	}
}
