// primary & secondary are basically background & border colors; xx-contrast-color is a contrasting color, used for text and other effects
.buttonColors(
	@primary-color: @neutral-base, // background color
	@primary-contrast-color: #909090, // text color
	@secondary-color: #ccc, // border color

	@hover-primary-color: darken(@primary-color, 5%), // background color
	@hover-primary-contrast-color: @primary-contrast-color, // text color

	@active-primary-color: darken(@primary-color, 10%), // background color
	@active-primary-contrast-color: @primary-contrast-color, // text color

	@inactive-primary-color: #fff, // background color
	@inactive-primary-contrast-color: @primary-contrast-color // text color
) {
	color: @primary-contrast-color !important;
	background: @primary-color;
	border: 1px solid @secondary-color;

	&:hover,
	&.mw-ui-hover {
		color: @hover-primary-contrast-color !important;
		background: @hover-primary-color;

		box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05), inset 0px -2px 0px 0px rgba(0,0,0,.20);
		-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05), inset 0px -2px 0px 0px rgba(0,0,0,.20);
		-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.05), inset 0px -2px 0px 0px rgba(0,0,0,.20);
	}

	&:active,
	&.mw-ui-active {
		color: @active-primary-contrast-color !important;
		background: @active-primary-color;

		box-shadow: 0px 0px 0px 0px transparent;
		-webkit-box-shadow: 0px 0px 0px 0px transparent;
		-moz-box-shadow: 0px 0px 0px 0px transparent;
	}

	&:disabled,
	&.mw-ui-disabled {
		color: @inactive-primary-contrast-color !important;
		background: @inactive-primary-color;
		cursor: default;
	}


	// text-only, borderless text-button for secondary or "quiet" actions.
	&.mw-ui-quiet {
		border: 1px solid transparent;
		box-shadow: 0px 0px 0px 0px transparent;
		-webkit-box-shadow: 0px 0px 0px 0px transparent;
		-moz-box-shadow: 0px 0px 0px 0px transparent;
		background: none;

		.darkerColor(@primary-color, @primary-contrast-color);

		&:hover,
		&.mw-ui-hover {
			.darkerColor(@hover-primary-color, @hover-primary-contrast-color);
		}

		&:active,
		&.mw-ui-active {
			.darkerColor(@active-primary-color, @active-primary-contrast-color);
		}

		&:disabled,
		&.mw-ui-disabled {
			.darkerColor(@inactive-primary-color, @inactive-primary-contrast-color);
		}
	}
}

/**
 * Mixin to help automatically set the correct text color:
 * * Primary color is preferred
 * * Unless it's too bright, which would hurt legibility
 */
.darkerColor(@primary-color, @secondary-color) {
	color: @primary-color !important;
}
.darkerColor(@primary-color, @secondary-color) when (lightness(@primary-color) > 80%) {
	color: @secondary-color !important;
}
