@import 'mediawiki.mixins';
@import '../../../flow.colors';
@import '../../../flow.variables';

.flow-ui-editorSwitcherWidget {
	display: block;
	background-color: #fff;
	// The placeholder should be the same height as the editor: minHeight + toolbarHeight
	// Also prevents height flicker when switching (T95207)
	min-height: calc( @editorMinHeight ~'+' @editorToolbarHeight );

	&-placeholder-input {
		max-width: none;
		background-color: transparent;

		& textarea {
			border: 0;

			/* stylelint-disable indentation */
			.mixin-placeholder( {
				font-weight: normal;
			} );
			/* stylelint-enable indentation */
		}
	}

	// Undo top margin on error box
	&-error.flow-errors {
		margin-top: 0;
	}

	// HACK: Undo border set by "old" editor CSS
	> .flow-ui-visualEditorWidget > .ve-init-target {
		border: 0;
	}
}
