.flow-ui-anonWarningWidget {
	// Hide when not active
	display: none;

	&-active {
		background-color: #36c;
		/* @embed */
		background-image: url( ../../images/anon-user.svg );
		background-position: 0.6em center;
		background-repeat: no-repeat;
		color: #fff;
		display: block;
		padding: 0.6em;
		padding-left: ~'calc( 0.6em + 24px + 0.6em )';
		line-height: 1.2em;
		margin-bottom: 0.5em;

		a {
			color: #fff;
			font-weight: bold;
		}

		body.rtl & {
			background-position: ~'calc( 100% - 0.6em ) center';
		}
	}
}
