@import 'flow.colors';

.flow-ui-editorSwitcherWidget {
	display: block;
	background-color: white;

	.flow-ui-editorWidget-expanded & {
		border: 1px solid #CCC;
		-webkit-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-moz-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
/*		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		padding: .3em .3em .3em .6em;
		display: block;
		vertical-align: middle;
		border-radius: 2px;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
*/

		.oo-ui-textInputWidget textarea {
			border: 0;
			-webkit-appearance: none;
			background: transparent;
			min-height: 8em;

			&:focus {
//				box-shadow: none;
			}

			// Comma-separating this rule doesn't work :(
			// Placeholder text styling must be set individually for each browser @winter
			&::-webkit-input-placeholder { // webkit
				font-style: italic;
			}
			&::-moz-placeholder { // FF 4-18
				font-style: italic;
			}
			&:-moz-placeholder { // FF >= 19
				font-style: italic;
			}
			&:-ms-input-placeholder { // IE >= 10
				font-style: italic;
			}
		}

		&-focused {
			box-shadow: inset 0 0 0 2px @colorProgressive;
			border-color: #347bff;
//			outline: 0;
		}
	}
}
