@import 'settings/colors.less';
@import 'mediawiki.mixins.less';

#flow-header {
	padding-bottom: 30px;

	#flow-header-content {
		font-weight: bold;
		line-height: 25px;
		color: @header-content-color;
	}

	.flow-header-edit-link {
		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
	}

	&:hover .flow-summary-edit-link {
		.background-image-svg('../../base/images/edit_normal.svg', '../../base/images/edit_normal.png');

		&:hover {
			.background-image-svg('../../base/images/edit_hover.svg', '../../base/images/edit_hover.png');
		}
	}

	.flow-edit-header-controls{
		text-align: right;
	}
}
