@import 'settings/colors.less';
@import 'mediawiki.mixins.less';

#flow-header {
	// should be about 30px total; taking the content line-height into account,
	// this 25px padding will make it look more like a 30px gap
	padding-bottom: 25px;

	#flow-header-content {
		font-weight: bold;
		line-height: 25px;
		color: @header-content-color;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}

	&:hover {
		.flow-header-edit-link {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}

	.flow-header-edit-link {
		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
		.background-image-svg('../../base/images/edit_hover.svg', '../../base/images/edit_hover.png');

		opacity: 0;
		transition: opacity 0.2s;
	}

	.flow-edit-header-controls{
		text-align: right;
	}
}
