#flow-summary {
	padding-bottom: 30px;

	#flow-summary-content {
		font-weight: bold;
		line-height: 25px;
		color: #58595B;
	}

	.flow-summary-edit-link {
		/* @embed */
		background-image: url('../../base/images/stub.png'); /* @todo: real asset */
		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
	}
}
