<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-down">
	{{l10nParse "flow-anon-warning" (addReturnTo "http://localhost:8081/wiki/Special:Userlogin") (addReturnTo "http://localhost:8081/wiki/Special:CreateUser") }}
	<span class="flow-ui-tooltip-triangle"></span>
</span>