{{!--
	stub content injected by templating when a post
	was identified but no data was found
--}}
<div id="flow-post-{{postId}}">
	<div class="flow-post-main">
		<div class="error">{{l10n 'flow-stub-post-content'}}</div>
	</div>
</div>
