<button data-flow-api-handler="preview"
        data-flow-api-target="< form textarea"
        name="preview"
        data-role="action"
        class="flow-ui-button flow-ui-progressive flow-ui-quiet">
	{{~l10n "flow-preview"~}}
</button>
<button data-flow-interactive-handler="cancelForm" data-role="cancel"
	class="flow-ui-button flow-ui-destructive flow-ui-quiet">{{l10n "flow-cancel"}}</button>
