<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-down flow-form-collapsible">
	{{l10nParse "flow-anon-warning" (linkWithReturnTo "Special:Userlogin") (linkWithReturnTo "Special:Userlogin/signup") }}
	<span class="flow-ui-tooltip-triangle"></span>
</span>