{{! partial~}}
<div class="flow-notification-tooltip-icon"><span class="wikiglyph wikiglyph-star-list mw-ui-constructive"></span></div>
<p class="flow-notification-tooltip-title">
	{{l10n (concat "flow-" type "-notification-subscribe-title") username}}
</p>
<p class="flow-notification-tooltip-content">
	{{l10n (concat "flow-" type "-notification-subscribe-description") username}}
</p>
