<div class="flow-compare-revisions-header plainlinks">
	{{l10nParse "flow-compare-revisions-header-postsummary" revision.new.rev_view_links.board.title revision.new.root.content revision.new.rev_view_links.board.url revision.new.rev_view_links.root.url revision.new.rev_view_links.hist.url }}
</div>
<div class="flow-compare-revisions">
	{{diffRevision revision.diff_content revision.old.human_timestamp revision.new.human_timestamp revision.old.author.name revision.new.author.name revision.old.rev_view_links.single-view.url revision.new.rev_view_links.single-view.url }}
</div>