{{#if links.pagination.fwd}}
	<div class="flow-load-more">
		<div class="flow-error-container">
			{{!-- placeholder for javascript injected errors --}}
		</div>

		<a data-flow-interactive-handler="apiRequest"
		   data-flow-api-handler="loadMore"
		   data-flow-load-handler="loadMore"
		   href="{{links.pagination.fwd.url}}"
		   title="{{links.pagination.fwd.title}}"
		   class="mw-ui-button mw-ui-progressive flow-load-interactive flow-ui-fallback-element"><span class="wikiglyph wikiglyph-article"></span> {{l10n "flow-load-more"}}</a>
	</div>
{{else}}
	{{> flow_no_more}}
{{/if}}
