<div class="flow-board-header-footer">
  <hr />
  {{#if revision.dateFormats}}
    <p>
      {{l10n "flow-description-last-modified-at" revision.dateFormats.date revision.dateFormats.time}}
    </p>
  {{/if}}

  <p>
    {{html copyrightMessage}}
  </p>
</div>