{{#if content}}
	<div class="flow-topic-summary">
		{{escapeContent contentFormat content}}
	</div>
{{else}}
	{{!-- Create a blank script tag to be used for this purpose,
		which can be replaced client-side without rendering anything now --}}
	<script type="text/plain" class="flow-topic-summary"></script>
{{/if}}