<div class="flow-post-main">
	{{> flow_errors}}

	{{#with creator}}
		{{> flow_post_author}}
	{{/with}}

	{{#if isModerated}}
		<div class="flow-moderated-post-content">
			{{> flow_post_moderation_state}}
		</div>
	{{/if}}

	<div class="flow-post-content">
		{{escapeContent content.format content.content}}
	</div>

	{{> flow_post_meta_actions}}
	{{> flow_post_actions}}
</div>
