<div class="flow-topic-summary-container">
	{{> flow_errors }}
	{{#if revision.content}}
		<div class="flow-topic-summary">
			{{escapeContent revision.content.format revision.content.content}}
		</div>
		<br class="flow-ui-clear"/>
	{{/if}}
</div>
