<div class="flow-topic-summary">
	{{#if summary}}
		{{escapeContent summary.format summary.content}}
	{{/if}}
</div>
<div class="flow-topic-edit-summary">
	{{!-- placeholder where js will insert summary --}}
</div>
