{{~#if patrol~}}
    <div>
        <span class="patrollink">
            <a class="mw-ui-quiet"
               href="{{patrol.url}}"
               title="{{l10n 'flow-mark-diff-patrolled-link-title'}}"
               data-role="patrol">
                [{{l10n 'flow-mark-diff-patrolled-link-text'}}]
            </a>
        </span>
    </div>
    {{enablePatrollingLink}}
{{~/if~}}
