{{#tooltip
	positionClass="left"
	extraClass="flow-notification-tooltip-topicsub"
}}
	<div class="flow-notification-tooltip-icon"><span class="wikiglyph wikiglyph-star-list mw-ui-constructive"></span></div>
	<p class="flow-notification-tooltip-title">
		{{l10n (concat "flow-" type "-notification-subscribe-title")}}
	</p>
	<p class="flow-notification-tooltip-content">
		{{l10n (concat "flow-" type "-notification-subscribe-description")}}
	</p>
{{/tooltip}}