<div class="flow-board">
	{{> flow_errors}}
	{{!-- There is only one post, but the output format matches multi-post output --}}
	{{#eachPost this roots}}
		{{> flow_moderate_topic}}
		{{> flow_topic}}
	{{/eachPost}}
</div>
