<div class="flow-switcher-controls">
	<div>
		{{! this message is manually constructed in ext.flow.editors.none.js !}}
		<p class="flow-wikitext-editor-help">{{html help_text}}</p>

		{{#if enable_switcher}}
			<a href="#"
			   title="{{l10n "flow-wikitext-switch-editor-tooltip"}}"
			   class="mw-ui-button flow-js flow-editor-switcher mw-ui-checked"
			   data-flow-interactive-handler="switchEditor"
			   data-flow-target="< .flow-editor textarea.flow-editor-initialized"
			>
				&lt;/&gt;
			</a>
		{{/if}}
	</div>
	<div class="flow-ui-clear"></div>
</div>
