{{#tooltip
	positionClass="left"
	extraClass="flow-notification-tooltip-topicsub"
	isBlock=true
}}
	<div class="flow-notification-tooltip-icon"><span class="wikiglyph wikiglyph-star-list flow-ui-constructive"></span></div>
	<p class="flow-notification-tooltip-title">This topic has been added to your watchlist!</p>
	<p class="flow-notification-tooltip-content">You will receive notifications on all activities on this topic.</p>
{{/tooltip}}