<div class="flow-board">
	{{> flow_errors}}

	{{#if navbar}}
		<div class="flow-topic-histories">
			{{html navbar}}

			<ul>
				{{#each revisions}}
					<li>{{> flow_history_line}}</li>
				{{/each}}
			</ul>

			{{html navbar}}
		</div>
	{{/if}}
</div>
