{{#if @root.categories}}
<div class="flow-board-header-category-view-nojs">
	<ul class="flow-board-header-category-list">
	{{#each @root.categories}}
		<li class="flow-board-header-category-item">{{html this}}</li>
	{{/each}}
	</ul>
</div>
{{/if}}
