{{#if roots}}
	{{#each roots}}
	{{!-- eachPost topiclist --}}
		{{#eachPost @root this}}
			<li><a class="mw-ui-button mw-ui-quiet mw-ui-progressive"
			       href="javascript:void(0);"
			       data-flow-interactive-handler="jumpToTopic"
			       data-flow-id="{{../this}}">
				{{~escapeContent content.format content.content~}}
			</a></li>
		{{/eachPost}}
	{{/each}}
{{else}}
	<li><a class="mw-ui-button mw-ui-quiet"
	       href="javascript:void(0);">
		{{~l10n "flow-loading"~}}
	</a></li>
{{/if}}