{{#if links.pagination.fwd}}
	<a href="{{links.pagination.fwd.url}}" title="{{links.pagination.fwd.title}}" class="flow-ui-button flow-ui-progressive /*flow-ui-quiet flow-ui-thin*/"><span class="wikiglyph wikiglyph-article"></span> {{l10n "flow-load-more"}}</a>
{{/if}}