{{! partial~}}
<div class="flow-topic-titlebar">
	{{> flow_topic_titlebar_content}}

	{{#unless isPreview}}
		{{#if watchable}}
			{{> flow_topic_titlebar_watch}}
		{{/if}}
		<div class="flow-menu flow-menu-hoverable">
			<div class="flow-menu-js-drop"><a href="javascript:void(0);"><span class="wikiglyph wikiglyph-ellipsis"></span></a></div>
			<ul class="mw-ui-button-container flow-list">
				{{!-- Inserts each common flow-menu-moderation-action --}}
				{{> flow_moderation_actions_list this moderationType="topic" moderationTarget="title" moderationTemplate="topic" moderationContainerClass="flow-menu" moderationMwUiClass="mw-ui-button" moderationIcons=true}}
			</ul>
		</div>
	{{/unless}}
</div>
