<button data-flow-api-handler="preview"
        data-flow-api-target="< form textarea"
        name="preview"
        data-role="action"
        class="mw-ui-button mw-ui-progressive mw-ui-quiet mw-ui-flush-right">
	{{~l10n "flow-preview"~}}
</button>
<button data-flow-interactive-handler="cancelForm" data-role="cancel"
	class="mw-ui-button mw-ui-destructive mw-ui-quiet mw-ui-flush-right">{{l10n "flow-cancel"}}</button>
