{{#each blocks}}
	{{block this}}
{{/each}}
<div class="flow-ui-load-overlay"></div>
<div style="clear: both"></div>
<script>
window.RLQ = window.RLQ || []; window.RLQ.push( function () {
	mw.hook( 'flow.ready' ).fire();
} );
</script>