{{! partial~}}
<span class="wikiglyph
	{{~#ifCond moderateState "===" "lock"}} wikiglyph-lock{{/ifCond~}}
	{{~#ifCond moderateState "===" "hide"}} wikiglyph-flag{{/ifCond~}}
	{{~#ifCond moderateState "===" "delete"}} wikiglyph-trash{{/ifCond~}}"></span>
