<div class="flow-topic {{#unless isPreview}}flow-load-interactive{{/unless}} {{#if isModerated}}flow-topic-moderated flow-topic-collapsed{{/if}}" id="flow-topic-{{postId}}" data-flow-id="{{postId}}" data-flow-load-handler="topicElement">
	{{>flow_topic_titlebar}}

	{{#if @root.posts}}
		{{#each replies}}
			{{#eachPost @root this}}
				<!-- eachPost topic -->
				{{post @root this}}
			{{/eachPost}}
		{{/each}}
	{{/if}}

	{{#unless isPreview}}
		{{> flow_reply_form}}
	{{/unless}}
</div>
