<button data-flow-interactive-handler="cancelForm"
        data-role="cancel"
        type="reset"
        class="mw-ui-button mw-ui-destructive mw-ui-quiet mw-ui-flush-right flow-js"

        {{!-- No data-flow-eventlog-action here; we'll do that in code to make sure it's run before cancel-success & cancel-abort --}}
        {{!-- funnel id will have been forwarded to this button though, so we can access that from the code --}}
>
    {{#if msg}}
        {{~l10n msg~}}
    {{else}}
        {{~l10n "flow-cancel"~}}
    {{/if}}
</button>
