<div class="flow-topic flow-element-collapsible {{#unless isPreview}}flow-load-interactive{{/unless}} {{#if moderateState}}flow-topic-moderatestate-{{moderateState}}{{/if}} {{#if isModerated}}flow-topic-moderated flow-element-collapsed{{/if}}"
     id="flow-topic-{{postId}}"
     data-flow-id="{{postId}}"
     data-flow-load-handler="collapserState"
     data-flow-collapser-set="topics">
	{{>flow_topic_titlebar}}

	{{#if @root.posts}}
		{{#each replies}}
			{{#eachPost @root this}}
				<!-- eachPost topic -->
				{{post @root this}}
			{{/eachPost}}
		{{/each}}
	{{/if}}

	{{#unless isPreview}}
		{{> flow_reply_form}}
	{{/unless}}
</div>
