<div class="flow-topic flow-load-interactive {{#if isModerated}}flow-topic-moderated flow-topic-collapsed{{/if}}" id="flow-topic-{{postId}}" data-flow-id="{{postId}}" data-flow-load-handler="topicElement">
	{{>flow_topic_titlebar}}

	{{#each replies}}
		{{#eachPost @root this}}
			<!-- eachPost topic -->
			{{post @root this}}
		{{/eachPost}}
	{{/each}}

	{{#unless isPreview}}
		{{> flow_reply_form}}
	{{/unless}}
</div>
