<div class="flow-board">
	{{#if errors}}
		<ul>
		{{#each errors}}
			<li>{{message}}</li>
		{{/each}}
		</ul>
	{{/if}}

	<div class="flow-topics">
		{{!-- There is only one topic, but we use same api response structure --}}
		{{#each roots}}
			{{#eachPost @root this}}
				{{> flow_topic}}
			{{/eachPost}}
		{{/each}}
	</div>
</div>
