<div class="flow-board-header-footer">
  <hr />
  <p>
    {{l10n "flow-description-last-modified-at" revision.dateFormats.date revision.dateFormats.time }}
  </p>

  <p>
    {{html copyrightMessage}}
  </p>
</div>