{{> flow_board_navigation}}

<div class="flow-board">
	{{> flow_topic_navigation}}
	{{> flow_newtopic_form}}

	<div class="flow-topics">
		{{#each roots}}
			<!-- eachPost topiclist -->
			{{#eachPost @root this}}
				{{> flow_topic}}
			{{/eachPost}}
		{{/each}}
	</div>

	{{#if links.pagination && links.pagination.fwd}}
		<a href="{{links.pagination.fwd.url}}" title="{{links.pagination.fwd.title}}" class="flow-ui-button flow-ui-progressive /*flow-ui-quiet flow-ui-thin*/"><span class="wikicon wikicon-article"></span> {{l10n "flow-load-more"}}</a>
	{{/if}}
</div>
