<div class="flow-switcher-controls">
	<div>
		<p class="flow-wikitext-editor-help">{{l10nParse "flow-wikitext-editor-help"}}</p>

		<a href="#"
		   class="mw-ui-button mw-ui-constructive flow-js flow-editor-color"
		   data-flow-interactive-handler="switchEditor"
		   data-flow-load-handler="switchEditor"
		   data-flow-target="< form textarea"
		>
			&lt;/&gt;
		</a>
	</div>
	<div class="flow-ui-clear"></div>
</div>
