<span class="flow-anon-warning flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-down flow-form-collapsible plainlinks">
	{{l10nParse "flow-anon-warning" (linkWithReturnTo "Special:Userlogin") (linkWithReturnTo "Special:Userlogin/signup") }}
	<span class="flow-ui-tooltip-triangle"></span>
</span>