<div class="flow-content-preview">
	{{#if title}}
		<div class="flow-preview-sub-container flow-topic-title">
			{{title}}
		</div>
	{{/if}}
	<div class="flow-preview-sub-container">
		{{html content}}
	</div>
</div>