{{#if links.pagination.fwd}}
	<a data-flow-interactive-handler="apiRequest"
	   data-flow-api-handler="loadMore"
	   data-flow-load-handler="loadMore"
	   href="{{links.pagination.fwd.url}}"
	   title="{{links.pagination.fwd.title}}"
	   class="flow-ui-button mw-ui-button mw-ui-progressive flow-ui-progressive flow-load-interactive"><span class="wikiglyph wikiglyph-article"></span> {{l10n "flow-load-more"}}</a>
{{/if}}