<div class="flow-topic-summary-container">
	{{> flow_errors }}
	{{#if summary}}
		<div class="flow-topic-summary">
			{{escapeContent summary.format summary.content}}
		</div>
		<br class="flow-ui-clear"/>
	{{/if}}
</div>
