@import '../../base/styles/mixins/buttonicon.less';

.flow-action-hide input {
	.buttonIcon( '../../base/images/hidden' );
}

.flow-action-delete input {
	.buttonIcon( '../../base/images/deleted' );
}

.flow-action-suppress input {
	.buttonIcon( '../../base/images/suppressed' );
}

.flow-action-restore input {
	// @todo: need icon
	// .buttonIcon( '../../base/images/restored' );
}

.flow-moderation-confirmation {
	border: 1px solid #8080ff;
	background-color: #b0b0ff;
	padding: 1em;
	position: relative;

	.flow-moderation-confirmation-close {
		display: block;
		position: absolute;
		top: 0.3em;
		left: 100%;
		margin-left: -0.3em;
		cursor: pointer;
		line-height: 1.2em;
		color: inherit !important;

		&:hover {
			text-decoration: none !important;
		}
	}
}