@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-topic-summary {
	border-top: 1px dotted @colorGrayLightest;
	margin-top: 12px;
	font-style: italic;
}
