@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-topic-summary-container {
	.flow-topic-summary {
		border-top: 1px dotted @colorGrayLight;
		margin-top: .33em;
		p {
			font-style: italic;
		}
	}
}
