@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-topic-watchlist {
	position: absolute;
	top: 0;
	right: 0;

	a {
		display: inline-block;
		*display: inline;
		zoom: 1;
		padding: .25em .5em;
		font-size: 2em;

		&.mw-ui-quiet {
			// Quiet mode shows the outline star
			.wikiglyph-star {
				display: none;
			}
			.wikiglyph-unstar {
				display: inline-block;
				*display: inline;
				zoom: 1;
			}
		}

		// Regular mode shows the full star
		.wikiglyph-unstar {
			display: none;
		}
	}
}

@media all and (min-width: @wgFlowDeviceWidthTablet) {
	.flow-topic-watchlist {
		a {
			font-size: inherit;
		}
	}
}
