@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-watch-link {
	position: absolute;
	top: 0;
	right: 0;

	&.flow-board-watch-link {
		font-size: 1.5em;

		// Override default right value, this div is getting a specific width
		// (in line with other flow elements) and the icon will be floated to
		// the right.
		right: auto;
		a {
			float: right;
		}
	}

	a {
		display: inline-block;
		*display: inline;
		zoom: 1;
		padding: .25em .5em;

		&.mw-ui-quiet {
			// Quiet mode shows the outline star
			.wikiglyph-star {
				display: none;
			}
			.wikiglyph-unstar {
				display: inline-block;
				*display: inline;
				zoom: 1;
			}
		}

		// Regular mode shows the full star
		.wikiglyph-unstar {
			display: none;
		}
	}
}

.flow-topic-watchlist {
	a {
		font-size: 1.8em;
	}
}

// This code is not sustainable and must be killed.
.skin-vector .flow-board-watch-link {
	top: -1.75em;
}
// FIXME: This code is not sustainable and must be killed
.skin-minerva .flow-board-watch-link {
	top: -2.5em;
}
@media all and (min-width: @wgFlowDeviceWidthTablet) {
	// FIXME: This code is not sustainable and must be killed
	.skin-minerva .flow-board-watch-link {
		top: -2em;
	}

	.flow-topic-watchlist {
		a {
			font-size: inherit;
		}
	}
}

.content {
	position: relative;
}
