@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-component {
	.flow-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li:hover {
			background: #eee;
		}
	}
}

// Keep a fixed spacing between each individual flow section
.flow-newtopic-form,
.flow-topics-bar {
	padding-top: 1.5em;
}

// board navigation
.flow-board-navigation,
// The whole board content wrapper
.flow-board {
	.box-sizing( border-box );
	font-size: .875em;
	width: 100%;
	padding-left: 0;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 24px;
}

.board-page {
	.flow-board-navigation,
	.flow-board {
		max-width: 700px;
	}
}

.topic-page {
	.flow-board {
		max-width: 850px;
	}
}

// Individual topic containers
.flow-topic {
	padding: 1.6em 0 1.4em;
}

// Revision view
.flow-revision-content {
	background: none repeat scroll 0 0 #EDEDED;
	color: #777777;
	margin-top: 20px;
	padding: 10px;
}

// "No more" link
.flow-no-more,
// "Undo" moderation link
.flow-undo {
	font-size: .875em;
	color: #777777;
	// These two will flip in RTL interface
	text-align: left;
	direction: ltr;
}

.flow-topic-meta {
	font-size: .875em;
}

// Decorate as a pipelist, ex: (foo | bar | baz)
.flow-pipelist {
	span ~ span:before {
		content: ' | ';
	}
}

.flow-ui-clear {
	clear: both;
	line-height: 0;
}

@media all and (min-width: @small) {
	.flow-topic-meta {
		font-size: 1em;
	}

	// The sort navigation
	.flow-board-header-menu,
	// board navigation
	.flow-board-navigation,
	// The whole board content wrapper
	.flow-board {
		// Set a fixed font-size from which everything else can use a relative amount
		font-size: 1em;
		line-height: 1.4;
	}
}

@media all and (min-width: @medium) {
	.flow-component.board-page {
		overflow: hidden;

		.flow-board-header {
			padding-left: 10px;
			float: right;
			width: 33%;
			background-color: @colorGrayLightest;
			box-shadow: -2px 0 0 0 rgba(0,0,0,0.10);

			// this is a hack to make sure the side rail always
			// stretches all the way to the bottom of the page
			padding-bottom: 9999999px;
			margin-bottom: -9999999px;

			.flow-board-header-title {
				display: block;
			}

			.side-rail-toggle-button {
				visibility: visible;
			}

			.side-rail-toggle-button {
				.collapse-button {
					display: block;
				}

				.expand-button {
					display: none;
				}
			}
		}

		.flow-board-navigation,
		.flow-board {
			float: left;
			clear: left;
			width: 66%;
			max-width: 1200px;
			padding-right: 20px;
		}
	}

	.flow-component.board-page.expanded {
		padding-right: 30px;

		.flow-board-header {
			width: 30px;
			margin-right: -30px;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;

			.side-rail-toggle-button {
				.collapse-button {
					display: none;
				}

				.expand-button {
					display: block;
				}
			}

			.flow-board-header-title,
			.flow-board-header-detail-view {
				display: none;
			}
		}

		.flow-board-navigation,
		.flow-board {
			width: 100%;
			max-width: none;
		}
	}
}

.flow-history-moderation-menu {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline;
	}

	> section {
		display: inline;

		&:not(:first-of-type) > li {
			&:first-of-type {
				border-top: 0px;

				&:before {
					content: '(';
				}
			}
			& + li:before {
				content: ' | ';
			}
			&:last-of-type:after {
				content: ')';
			}
		}
	}
}

.pull-right {
	float: right;
}

// vector theme overrides
// makes the layout more compact on Talk (ns-1) and User_Talk (ns-3)
body.ns-1,
body.ns-3 {
	div#content.mw-body {
		margin-right: 0;
		padding-right: 0;
		padding-bottom: 0;

		h1.firstHeading {
			margin-bottom: 0;
		}

		#contentSub {
			display: none;
		}
	}
}

span.mw-ui-icon {
	opacity: 0.7;
}

span.mw-ui-icon.mw-ui-icon-before:before {
	margin-right: 0.1em;
}

span.mw-ui-icon.mw-ui-icon-before:after {
	margin-left: 0.1em;
}
