@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-component {
	// This should flip with interface directionality
	float: left;
	width: 100%;

	.flow-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Box-sizing: border-box is default in the Flow world
	* {
		.box-sizing(border-box);
	}
}

// Keep a fixed spacing between each individual flow section
.flow-newtopic-form,
.flow-topics-bar {
	padding-top: 1.5em;
}

// board navigation
.flow-board-navigation,
// The whole board content wrapper
.flow-board {
	font-size: .875em;
	width: 100%;
	max-width: 700px;
	padding: 0 20px 0 0;
}

.flow-board {
	padding-bottom: 24px;
}

// Individual topic containers
.flow-topic {
	padding: 1.6em 0 1.4em;
}

// Revision view
.flow-revision-content {
	background: none repeat scroll 0 0 #EDEDED;
	color: #777777;
	margin-top: 20px;
	padding: 10px;
}

// "No more" link
.flow-no-more,
// "Undo" moderation link
.flow-undo {
	font-size: .875em;
	color: #777777;
	// These two will flip in RTL interface
	text-align: left;
	direction: ltr;
}

.flow-topic-meta {
	font-size: .875em;
}

// Decorate as a pipelist, ex: (foo | bar | baz)
.flow-pipelist {
	span ~ span:before {
		content: ' | ';
	}
}

.flow-ui-clear {
	clear: both;
	line-height: 0;
}

@media all and (min-width: @small) {
	.flow-topic-meta {
		font-size: 1em;
	}

	// The sort navigation
	.flow-board-header-menu,
	// board navigation
	.flow-board-navigation,
	// The whole board content wrapper
	.flow-board {
		// Set a fixed font-size from which everything else can use a relative amount
		font-size: 1em;
		line-height: 1.4;
	}
}

@media all and (min-width: @medium) {

	#side-rail-toggle-button {
		visibility: visible;
	}

	// Top board header
	.flow-board-header {
		padding-left: 20px;
		float: right;
		width: 33%;
		background-color: @colorGrayLightest;
		box-shadow: -2px 0 0 0 rgba(0,0,0,0.10);

		// this is a hack to make sure the side rail always
		// stretches all the way to the bottom of the page
		padding-bottom: 9999999px;
		margin-bottom: -9999999px;
	}

	// board navigation
	.flow-board-navigation,
	// The whole board content wrapper
	.flow-board {
		float: left;
		clear: left;
		width: 66%;
		max-width: 1200px;
		padding-right: 20px;
	}

	.flow-component {
		overflow: hidden;
	}

	.flow-component.expanded {
		.flow-board-navigation,
		.flow-board {
			width: 95%;
		}
		.flow-board-header {
			width: 5%;

			.flow-board-header-detail-view {
				display: none;
			}
		}
	}

	div#content h2.flow-board-header-title {
		display: block;
	}
}

@media all and (min-width: @large) {
	.flow-topic-meta {
		//font-size: 1.4em;
	}

	// The sort navigation
	.flow-board-header-menu,
	// board navigation
	.flow-board-navigation,
	// The whole board content wrapper
	.flow-board {
	// Set a fixed font-size from which everything else can use a relative amount
	//font-size: 1.4em;
	//line-height: 1.8;
	}
}

@media all and (min-width: @xlarge) {
	// The sort navigation
	//.flow-board-header-menu,
	// board navigation
	.flow-board-navigation,
	// The whole board content wrapper
	.flow-board {
		margin: auto;
	}
}

.flow-history-moderation-menu {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline;
	}

	> section {
		display: inline;

		&:not(:first-of-type) > li {
			&:first-of-type {
				border-top: 0px;

				&:before {
					content: '(';
				}
			}
			& + li:before {
				content: ' | ';
			}
			&:last-of-type:after {
				content: ')';
			}
		}
	}
}

.pull-right {
	float: right;
}

// vector theme overrides
div#content.mw-body {
	margin-right: 0;
	padding-right: 0;
	padding-bottom: 0;

	h1.firstHeading {
		margin-bottom: 0;
	}

	div#contentSub {
		display: none;
	}
}
