@import 'mediawiki.mixins';
@import 'flow.colors';
@width-ui-loading-dot: 1.143em; // Equals ~`16px` at `14px` base font size.

// @todo: Find better home for this css
.client-js {
	.flow-action-view {
		// Hide the component while it is loading if Javascript
		// is enabled.
		.flow-ui-load-overlay {
			z-index: 101;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: wait;
		}

		.flow-component {
			position: relative;
			opacity: 0.5;

			&-ready {
				opacity: 1;
				-moz-transition: opacity 0.5s;
				-webkit-transition: opacity 0.5s;
				-o-transition: opacity 0.5s;
				transition: opacity 0.5s;
			}
		}

		/*
		Fallback elements

		Fallback elements are invisible when JavaScript is enabled. They only exist when JavaScript does not run.

		Markup:
		<div class="flow-ui-fallback-element"></div>

		Styleguide X.
		*/
		.flow-ui-fallback-element {
			visibility: hidden;
			height: 0;
		}

		// With JS, hide .flow-nojs & display .flow-js elements
		.flow-nojs {
			display: none;
		}

		.flow-js {
			display: block;
		}
	}
}

// When the load more wrapper is being processed, show the spinning loading icon.
.flow-ui-loading {
	// Hide by default.
	display: none;
	// Align the icon in the center.
	width: @width-ui-loading-dot * 3;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;

	// Show when a load is pending.
	.flow-load-more.flow-api-inprogress & {
		display: block;
	}

	.flow-ui-loading-dot,
	&:before,
	&:after {
		content: '';
		background-color: @colorGray7;
		display: inline-block;
		width: @width-ui-loading-dot;
		height: @width-ui-loading-dot;
		margin-left: @width-ui-loading-dot / 4;
		border-radius: 100%;
		-webkit-animation: bounce-delay 1600ms infinite ease-in-out both;
		animation: bounce-delay 1600ms infinite ease-in-out both;
		-webkit-animation-delay: -160ms;
		animation-delay: -160ms;
	}

	&:before {
		margin-right: @width-ui-loading-dot / 4;
		-webkit-animation-delay: -330ms;
		animation-delay: -330ms;
	}

	&:after {
		margin-left: @width-ui-loading-dot / 4;
		-webkit-animation-delay: 0ms;
		animation-delay: 0ms;
	}
}

// Basic API interaction indicator
.mw-body div#bodyContent .flow-api-inprogress { /* stylelint-disable-line selector-max-id */
	opacity: 0.5;
	cursor: wait;
}

@-webkit-keyframes bounce-delay {
	0%,
	50%, // Equals 800ms.
	100% {
		-webkit-transform: scale( 0.625 );
	}

	20% { // Equals 320ms.
		opacity: 0.87;
		-webkit-transform: scale( 1 );
	}
}

@keyframes bounce-delay {
	0%,
	50%,
	100% {
		transform: scale( 0.625 );
	}

	20% {
		opacity: 0.87;
		transform: scale( 1 );
	}
}
