@topic-titlebar-background-color: #ededed;
@topic-titlebar-text-color: #777;
@topic-title-color: #231f20;

@post-title-color: #3c68b1;
@post-content-color: #333;

@post-interaction-color: #898989;

// from https://trello.com/c/BJgrJCyX/59-thank-user but hard to read
@post-interaction-disabled-color: #aaa;