/**
 * Provide Agora appearance for mw-ui-* classes when using a skin other than
 * Vector.
 * Compass builds these Agora styles from source Sass files in
 * extensions/Agora/modules/scss
 */
/* _effects.scss */
/* Mixins for visual effects in CSS3 */

/* blow away chrome glow */
textarea, input, button, select { outline: none; }

/* line 7, ../scss/components/_utilities.scss */
.mw-ui-flush-left {
  float: left;
  margin-left: 0;
  padding-left: 0;
}

/* line 11, ../scss/components/_utilities.scss */
.mw-ui-flush-right {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

/* line 15, ../scss/components/_utilities.scss */
.mw-ui-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 4, ../scss/components/default/_buttons.scss */
.mw-ui-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.4em 1em 0.4em 1em;
  margin: 0;
  background-color: #ffffff;
  *background-color: #ffffff;
  *zoom: 1;
  color: #999999;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/* line 38, ../scss/mixins/_effects.scss */
.mw-ui-button:hover, .mw-ui-button.mw-ui-hover {
  border-color: #d0d0d0;
  color: #757575;
  *zoom: 1;
  text-decoration: none;
  -moz-box-shadow:inset 0px -5px 0px #d0d0d0;
  -webkit-box-shadow:inset 0px -5px 0px #d0d0d0;
  box-shadow:inset 0px -5px 0px #d0d0d0;
}
/* line 44, ../scss/mixins/_effects.scss */
.mw-ui-button:active, .mw-ui-button.mw-ui-active {
  border-color: #d0d0d0;
  background-color: #d0d0d0;
  text-shadow: none;
}
/* line 54, ../scss/mixins/_effects.scss */
.mw-ui-button:disabled, .mw-ui-button.mw-ui-disabled {
  color: #dddddd;
  text-shadow: none;
}


/* line 30, ../scss/components/default/_buttons.scss */
.mw-ui-button:disabled, .mw-ui-button.mw-ui-disabled {
  cursor: default;
}

/* line 3, ../scss/components/vector/_buttons.scss */
.mw-ui-button {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 6, ../scss/components/vector/_buttons.scss */
.mw-ui-button.mw-ui-constructive {
  background-color: #397ffb;
  *background-color: #397ffb;
  *zoom: 1;
  color: white;
  border-left: none;
  border-right: none;
  border-top-color: #397ffb;
  border-bottom-color: #397ffb;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 38, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-constructive:hover, .mw-ui-button.mw-ui-constructive.mw-ui-hover {
  background-color: #397ffb;
  *background-color: #397ffb;
  *zoom: 1;
  border-top-color: #397ffb;
  border-bottom-color: #1b61dd;
  -moz-box-shadow:inset 0px -5px 0px #1b61dd;
  -webkit-box-shadow:inset 0px -5px 0px #1b61dd;
  box-shadow:inset 0px -5px 0px #1b61dd;
}
/* line 44, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-constructive:active, .mw-ui-button.mw-ui-constructive.mw-ui-active {
  background-color: #0c53d7;
  border-top-color: #0c53d7;
  border-bottom-color: #0c53d7;
}
/* line 54, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-constructive:disabled, .mw-ui-button.mw-ui-constructive.mw-ui-disabled {
  background-color: #b6b6b6;
  border-top-color: #b6b6b6;
  border-bottom-color: #b6b6b6;
  opacity: 0.5;
  text-shadow: none;
}
/* line 10, ../scss/components/vector/_buttons.scss */
.mw-ui-button.mw-ui-primary {
  background-color: #00ae8b;
  *background-color: #00ae8b;
  border-left: none;
  border-right: none;
  border-top-color: #00ae8b;
  border-bottom-color: #00ae8b;
  *zoom: 1;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 38, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-primary:hover, .mw-ui-button.mw-ui-primary.mw-ui-hover {
  background-color: #00ae8b;
  *background-color: #00ae8b;
  border-top-color: #00ae8b;
  border-bottom-color: #318c6d;
  *zoom: 1;
  -moz-box-shadow:inset 0px -5px 0px #318c6d;
  -webkit-box-shadow:inset 0px -5px 0px #318c6d;
  box-shadow:inset 0px -5px 0px #318c6d; 
}
/* line 44, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-primary:active, .mw-ui-button.mw-ui-primary.mw-ui-active {
  background-image: none;
  background-color: #008862;
  border-top-color: #008862;
  border-bottom-color: #008862;
}
/* line 54, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-primary:disabled, .mw-ui-button.mw-ui-primary.mw-ui-disabled {
  background-image: none;
  background-color: #b1b1b1;
  border-top-color: #b1b1b1;
  border-bottom-color: #b1b1b1;
  text-shadow: none;
}
/* line 14, ../scss/components/vector/_buttons.scss */
.mw-ui-button.mw-ui-destructive {
  background-color: #cf1c1f;
  *background-color: #cf1c1f;
  border-left: none;
  border-right: none;
  border-top-color: #cf1c1f;
  border-bottom-color: #cf1c1f;
  *zoom: 1;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* line 38, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-destructive:hover, .mw-ui-button.mw-ui-destructive.mw-ui-hover {
  background-color: #cf1c1f;
  *background-color: #cf1c1f;
  border-top-color: #cf1c1f;
  border-bottom-color: #b10001;
  *zoom: 1;
  -moz-box-shadow:inset 0px -5px 0px #b10001;
  -webkit-box-shadow:inset 0px -5px 0px #b10001;
  box-shadow:inset 0px -5px 0px #b10001;
}
/* line 44, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-destructive:active, .mw-ui-button.mw-ui-destructive.mw-ui-active {
  background-color: #a90000;
  border-top-color: #a90000;
  border-bottom-color: #a90000;
}
/* line 54, ../scss/mixins/_effects.scss */
.mw-ui-button.mw-ui-destructive:disabled, .mw-ui-button.mw-ui-destructive.mw-ui-disabled {
  background-color: #bfbfbf;
  border-top-color: #bfbfbf;
  border-bottom-color: #bfbfbf;
  text-shadow: none;
}
a.mw-ui-destructive {
  color: #cf1c1f;
}

/* Remove box shadows on disabled hovers */
.mw-ui-button:disabled:hover, 
.mw-ui-button.mw-ui-disabled:hover,
.mw-ui-button.mw-ui-primary:disabled:hover,
.mw-ui-button.mw-ui-constructive:disabled:hover,
.mw-ui-button.mw-ui-destructive:disabled:hover{
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 36, ../scss/components/default/_buttons.scss */
.mw-ui-button.mw-ui-big {
  font-size: 1.3em;
}
/* line 41, ../scss/components/default/_buttons.scss */
.mw-ui-button.mw-ui-block {
  display: block;
  width: 100%;
}

/* line 48, ../scss/components/default/_buttons.scss */
.mw-ui-button-group > * {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
}
/* line 52, ../scss/components/default/_buttons.scss */
.mw-ui-button-group > *:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 57, ../scss/components/default/_buttons.scss */
.mw-ui-button-group > *:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 12, ../scss/components/default/_forms.scss */
.mw-ui-vform {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 290px;
}
/* line 17, ../scss/components/default/_forms.scss */
.mw-ui-vform > div {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  width: 100%;
}
/* line 26, ../scss/components/default/_forms.scss */
.mw-ui-vform > div input,
.mw-ui-vform > div label,
.mw-ui-vform > div .mw-ui-button {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
/* line 33, ../scss/components/default/_forms.scss */
.mw-ui-vform > div input {
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b8b8;
  color: #252525;
  padding: 0.35em 0 0.35em 0.5em;
}
/* line 12, ../scss/mixins/_forms.scss */
.mw-ui-vform > div input:focus {
  -moz-box-shadow:inset 7px 0px 0px #5088f7;
  -webkit-box-shadow:inset 7px 0px 0px #5088f7;
  box-shadow:inset 7px 0px 0px #5088f7;
  border-color: #7b7b7b;
}
/* line 37, ../scss/components/default/_forms.scss */
.mw-ui-vform > div label {
  font-size: 0.9em;
  color: #7d7d7d;
  width: auto;
  margin: 0 0 0.2em 0;
  padding: 0;
}
/* line 31, ../scss/mixins/_forms.scss */
.mw-ui-vform > div label * {
  font-weight: normal;
}
/* line 66, ../scss/components/default/_forms.scss */
.mw-ui-input {
  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  color: #252525;
  padding: 0.35em 0 0.35em 0.5em;
}

/* line 71, ../scss/components/default/_forms.scss */
.mw-ui-block-label, .mw-ui-formlist div label {
  font-size: 0.9em;
  color: #7d7d7d;
}
/* line 31, ../scss/mixins/_forms.scss */
.mw-ui-block-label *, .mw-ui-formlist div label * {
  font-weight: normal;
}

/* line 80, ../scss/components/default/_forms.scss */
.mw-ui-checkbox-label, .mw-ui-radio-label {
  margin-bottom: 0.5em;
  cursor: pointer;
  vertical-align: bottom;
  line-height: normal;
  font-weight: normal;
}

select,
div#content textarea,
div#content input[type="text"],
input[type="password"],
textarea.mw-ui-input,
.mw-ui-input[type="text"],
.mw-ui-input[type="password"]
{
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
  border-radius: 0.1em;
  border: 1px solid #cccccc;
}

select,
div#content textarea,
div#content input[type="text"],
div #content input[type="password"],
textarea.mw-ui-input,
.mw-ui-input[type="text"],
.mw-ui-input[type="password"]
{
  padding-left: 10px;
}
div#content textarea:focus,
div#content input[type="text"]:focus,
input[type="password"]:focus,
textarea.mw-ui-input:focus,
.mw-ui-input[type="text"]:focus,
.mw-ui-input[type="password"]:focus
 {
  -moz-box-shadow:inset 7px 0px 0px #5088f7;
  -webkit-box-shadow:inset 7px 0px 0px #5088f7;
  box-shadow:inset 7px 0px 0px #5088f7;
  border-color: #7b7b7b;

}
div#content textarea.mw-ui-error,
div#content input[type="text"].mw-ui-error,
input[type="password"].mw-ui-error,
textarea.mw-ui-error,
.mw-ui-input[type="text"].mw-ui-error,
.mw-ui-input[type="password"].mw-ui-error,
div#content textarea.mw-ui-error:focus,
div#content input[type="text"].mw-ui-error:focus,
input[type="password"].mw-ui-error:focus,
textarea.mw-ui-error:focus,
.mw-ui-input[type="text"].mw-ui-error:focus,
.mw-ui-input[type="password"].mw-ui-error:focus
 {
  -moz-box-shadow:inset 7px 0px 0px #cf1c1f;
  -webkit-box-shadow:inset 7px 0px 0px #cf1c1f;
  box-shadow:inset 7px 0px 0px #cf1c1f;
}


input[type="checkbox"].mw-ui-checkbox {
    float: left;
    opacity:0;
    z-index: 5000;
    position: relative;
    left: -2;
    top: -6;
    width: 20px;
    height: 20px;
}
input[type="checkbox"].mw-ui-checkbox + label span {
    float: left;
    z-index: 4999;
    display:inline-block;
    width:15px;
    height:15px;
    margin-left: -20px;
    margin-right: 5px;
    vertical-align:middle;
    background:url("../images/checkbox_unchecked_15.png") left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"] + label span:hover {
    background:url("../images/checkbox_hover_15.png") left top no-repeat;
}
input[type="checkbox"].mw-ui-checkbox:checked + label span {
    background:url("../images/checkbox_checked_15.png") left top no-repeat;
}
input[type="checkbox"].mw-ui-checkbox:checked + label span:hover {
    background:url("../images/checkbox_checked_hover_15.png") left top no-repeat;
}

.errortip { font-size: 10pt; position: absolute; padding: 5px; z-index: 100000; }
.errortip-inner { background-color: #347bff; color: #FFF; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.errortip-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.errortip-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #347bff; }
/* Rules to colour arrows */
.errortip-arrow-n { border-bottom-color: #347bff; }
.errortip-arrow-s { border-top-color: #347bff; }
.errortip-arrow-e { border-left-color: #347bff; }
.errortip-arrow-w { border-right-color: #347bff; }
  
  .errortip-n .errortip-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .errortip-nw .errortip-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .errortip-ne .errortip-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .errortip-s .errortip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .errortip-sw .errortip-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .errortip-se .errortip-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .errortip-e .errortip-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .errortip-w .errortip-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }




