#filters {
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc;

}
.filtertab {
	display: inline-block;
	border-bottom: 3px solid #cccccc;
	margin-left: -3px;
	margin-right: 0;
	margin-bottom: -1px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #cccccc;
	cursor: pointer;
}
.filtertab.active {
	border-bottom: 3px solid #1b61dd;
	color: #000000;
}


#boardmessagesystem.stuck, #singletopiccontrols.stuck {
	position:fixed;
	top: 0px;
	background-color: #ffffff;
	padding-bottom: 10px;
	border-bottom: none;
	z-index: 90000;
	-webkit-box-shadow: 0 5px 5px -6px #000000;
   	-moz-box-shadow: 0 5px 5px -6px #000000;
    box-shadow: 0 5px 5px -6px #000000;	
	width: 700px;
}
#singletopiccontrols, #boardmessagesystem {
	padding-top: 10px;
}
#boardmessagesystem, #singletopiccontrols {
	background-color: #ffffff;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	z-index: 90000;
	width: 700px;
}

h3 {
	padding: 0px;
	margin-top: 0px;
}
.flowcontrols {
	position: relative;
	top: 0px;
	left: 0px;
	width: 700px;
	max-width: 700px;
	margin-bottom: 10px;
	margin-left: 20px;
	z-index: 90000;
	display:block;
	padding-top: 10px;
}
#workingimage, #noresults {
	position: relative;
	width: 700px;
	max-width: 700px;
	margin-left: 20px;
	text-align: center;
	font-size: 15pt;
	display: none;
}

input.flowsearch {
	width: 480px;
	height: 33px;
	margin-top: 0px;
	/* @embed */
	background: transparent url('images/search_icon_999999.png') right center no-repeat;
	margin-bottom: 0px;
}
.flowsearchbutton {
	margin-top: 0px !important;
}
.flowsecondary {
	position: absolute;
	right: 0px;
}
.aboutme {
	width: 540px;
	padding-right: 10px;
}
.flow-container {
	position: relative;
	width: 700px;
	max-width: 700px;
	margin-left: 20px;
}
.flow-topic-full {
	padding-bottom: 0px;
	margin-bottom: 10px;
}
hr.flow-topic-separator {
	width: 670px;
	height: 1px;
	border: 0;
	margin-left: 30px;
	color: #cccccc;
	background-color: #cccccc;
	margin-bottom: 10px;
	margin-top: 10px;
}
hr.flow-topic-separator2 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.opener {
	position: relative;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	/* @embed */
	background-image: url(images/topic_control_read_down.png);
}

.mentiondicator {
	position: relative;
	float: left;
	top: 9;
	left: 11;
	width: 13px;
	height: 13px;
	margin:0;
	clear: both;
	/* @embed */
	background-image: url('images/mention_icon_small_green.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.closedtopic.hasmention .flow-topic-datestamp {
	margin-left: -13px;
}

.postmention {
	position: relative;
	float: left;
	top: 10;
	left: -25;
	width: 20px;
	height: 20px;
	margin:0;
	clear: both;
	/* @embed */
	background-image: url('images/mention_icon_green.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.flow-post.hasmention .authorname {
	margin-left: -10px;
}

.opentopic .mentiondicator {
	display: none;
}

div.closedtopic div.opener {
	/* @embed */
	background-image: url(images/topic_control_read_right.png);	
}

.containsunread .opener {
	/* @embed */
	background-image: url(images/topic_control_unread_down.png);	
}
.containsunread.closedtopic .opener {
	/* @embed */
	background-image: url(images/topic_control_unread_right.png);	
}


.flow-topic-controls {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0px;
	top: 0px;
	clear: none;
}

.topicicon {
	width: 20px;
	height: 20px;
	/* @embed */
	background-image: url(images/tag.png);
	float: left;
}
.subscribeicon {
	/* @embed */
	background-image: url(images/star_empty.png);
}
.subscribedicon {
	/* @embed */
	background-image: url(images/star_full.png);
}
.subscribeicon:hover {
	/* @embed */
	background-image: url(images/star_empty_blue.png);
}
.subscribedicon:hover {
	/* @embed */
	background-image: url(images/star_full_blue.png);
}	
.flow-topic-container {
	position: relative;
	left: 30;
	margin-top: -20;
	width:670px;
	max-width: 670px;
}

.flow-metabar {
	margin-bottom: 5px;
	margin-top: 5px;
}

/** SUMMARY STUFF */
.topicsummary {
	border: 1px solid #444444;
	background-color: #d0d0d0;
	margin-bottom: 5px;
}
.summarymeta {
	background-color: #444444;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10pt !important;
}
.summarydate {
	color: #ffffff !important;
}
.summaryauthor {
	color: #ffffff !important;
	font-size: 10pt;
	text-decoration: none;
}
.summarytext {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-style: italic;
}

.unread {
	background-color: #00ae8b;
}

.lockedtopic .replybox {
	display: none;
}
.lockedtopic .editpostlink, .lockedtopic .deletepostlink {
	display: none;
}

.collapsedposts {
	height: 30px;
	min-height: 20px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-left: -5px;
	margin-top: -5px;
	font-weight: bold;
	color: #666666;
}
.cleft {
	width:20;
	height:30;
	/* @embed */
	background-image: url(images/mini_chevron_right_444444.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	left: 0px;
}
.crightold {

	width:10;
	height:30;
	/* @embed */
	background-image: url(images/crinkle_right.png);
	float: right;
	margin-right: 0px;
}
.collapsetext {
	font-size: 14px;
	float:left;
	padding-top: 6px;
}
.ccount {
	position: relative;
	left: 0px;
	padding-right: 10px;
	color: #444444;
}
.taglist: {
	position: relative;
	margin-left: 400px;
	color: #444444;
}
.flow-topic-datestamp {
	font-size: 10pt;
	color: #999999;
}
.flow-datestamp {
	position: absolute;
	right: 10px;
	font-size: 10pt;
	color: #999999;
}
.editnotice {
	font-size: 10pt;
	color: #999999;
	float: left;	
}
.unreadpost .flow-datestamp, .selfpost .flow-datestamp {
	color: #ffffff;
}
.flow-topic-title {
	color: #444444;
	max-width: 600px;
	overflow: wrap;
	cursor: pointer;
}
.flow-topic-title, .flow-topic-title a, .ownerboard {
	font-weight: bold;
	font-size: 13pt;
}

.lockedtopic .flow-topic-title {
	/* @embed */
	background-image: url('images/lock_icon_444444.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.lockedtopic .flow-topic-title:hover {
	/* @embed */
	background-image: url('images/lock_icon_green.png');
}
.boardnotice {
	color: #318c6d;
	padding-right: 5px;
}

/* POST STUFF */
.flow-post {
	border-left: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
	padding:0px;
	margin-bottom: 0px;
}
.flow-post-deleted .flow-post-title {
	color: #cccccc;
	font-style: oblique;
}
.unreadpost {
	border-left: 2px solid #318c6d;
	border-bottom: 2px solid #318c6d;
}
.selfpost {
	border-left: 2px solid #0c53d7;
	border-bottom: 2px solid #0c53d7;
}
.flow-post-title {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #efefef;
}
.unreadpost .flow-post-title {
	background-color: #318c6d;
	color: #ffffff;
}
.selfpost .flow-post-title {
	background-color: #0c53d7;
}
.unreadpost .flow-post-title a, .selfpost .flow-post-title a {
	color: #ffffff;
}
.flow-post-authorline {
	height: 20px;
}
.authorname {
	font-size: 13pt;
	text-decoration: none;
}
.lowsig {
	font-size: 8pt !important;
	display: none;
	margin-left: 5px;
}
.lowsig a {
	font-size: 8pt !important;	
}
.flow-post-content {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}
.flow-post-controls {
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 20px;
	text-align: right;
	position: relative;
}
.postingstatus {
	display: none;
	/* @embed */
	background: transparent url('images/ajax-loader_blue.gif') 10px center no-repeat;
	padding: 10px;
	padding-left: 36px;
	background-color: #0c53d7;
	color: #ffffff;
}

.editortoolbox {
	border: 1px solid #d0d0d0;
	background-color: #ffffff;
	padding: 5px;
	float: left;
	position: relative;
	z-index: 10000;
	margin-top: -30px;
	margin-left: 15px;
}
.flow-post-form-extras .editortoolbox {
	margin-left: 5px;
}

.editorbutton {
	cursor: pointer;
	padding: 5px;
	margin: 0px;
	border: 1px solid #ffffff;
}
.editorbutton:hover {
	border: 1px solid #efefef;
}
.flow-reply-form {
	position: relative;
	border: 2px solid #efefef;
	border-top: none;
	background-color: #ffffff;
	min-height: 2em;
	max-width: 670px;
	color: #6D6D6D;
	z-index: 3000;
	padding: 0px;
}
.flow-post-form-controls, .editboxcontrols, .mboxextras {
	text-align: right;
}
.flow-post-form-controls button, .editboxcontrols button, .mboxcontrols button {
	margin-left: 10px;
}
.flow-reply-form textarea, .editboxmaster textarea {
	width: 100%;
	margin: 0;
	height: 100px;
	min-height: 100px;	
	border:none !important;
}
.stalewarning {
	padding: 5px;
	color: #ffffff;
	background-color: #cc0000;
	margin: 5px;
	display: none;
}
.staletopic .stalewarning {
	display: block;
}

.mdialog {
	min-width: 500px;
	height: auto; 
	width: auto; 
	border:2px solid #444444; 
	padding: 0px;
	background-color: #ffffff;
}
#simplemodal-container a.modalCloseImg {
	/* @embed */
	background:url('images/x_icon_444444.png') no-repeat; /* adjust url as required */
	width:12px;
	height:12px;
	display:inline;
	z-index:3200;
	position:absolute;
	top: 15px;
	right: 15px;
	cursor:pointer;
}
.mdialog h3 {
	padding: 0px;
	padding-left: 10px;
	margin: 0px;
	background-color: #efefef;	
	border-bottom: 1px solid #d0d0d0;
}
.mdialog p { 
	margin: 10px;
}
.mboxextras{ 
	margin-top: 10px;
	padding: 10px;
}
.mdialog .inputform {
	max-width: 500px;
}
.mdialog input[type="text"] {
	height: 33px;
	width: 500px;
	margin: 10px;
}
.mdialog textarea {
	height: 75px;
	min-height: 75px;
	margin: 0;
	border: 1px solid #cccccc !important;
	width: 500px;
}
.mdialog table.historytable {
	margin-top: 10px;
	margin-bottom: 10px;
}
.history {
	display:none;
}
.historytable {
	min-width: 500px;
}
.historydate, .historyauthor, .historysummary {
	font-size: 8pt !important;
	white-space: nowrap;
	padding: 5px;
}
.historydate {
	color: #0645AD;
}
.historydate:hover {
	text-decoration: underline;
}
.historyauthor a {
	font-size: 8pt !important;
}
.historysummary {
	color: #999999;
	font-style: italic;
}
tr.historyheader {
	background-color: #444444;
	color: #ffffff;
}
.historytable th {
	font-weight: bold;
	font-size: 10pt;
	padding: 5px;
}
.historytable td {
	font-size: 10pt;
}
.historytable .tleft {
	text-align:left;
}


.flow-post-content textarea {
	width: 100%;
	margin: 0;
	height: 100px;
	border:none !important;
}
.flow-reply-form textarea.flow-reply-box-closed {
	/* @embed */
	background: transparent url("images/chat_bubble_999999.png") 5px center no-repeat;
	padding-left: 25px !important;
	height: 31px;
	min-height: 31px;
	max-height: 31px;
}
.flow-reply-form textarea.flow-reply-box-closed:hover {
	/* @embed */
	background: transparent url("images/chat_bubble_green.png") 5px center no-repeat;
}

.flow-cancel-link {
	margin-left: 10px;
	margin-right: 10px;
}
.flow-disclaimer {
	margin-top: 5px;
	font-size: 10pt;
	color: #999999;
}
.editboxextras .disclaimer {
	padding: 10px;
}
.flow-post-form-extras {
	border-top: 1px solid #efefef;
	padding: 10px;
	background-color: #ffffff;
}
.editboxcontrols {
	padding: 10px;
	background-color: #efefef;
}
.disclaimer, .disclaimer a {
	font-size: 8pt !important;
}
/* Action boxes */
.flow-actionbox-pokey, .flow-actionbox-pokey {
	/* @embed */
	background-image: url('images/PokeyNorth.png');
	background-repeat: no-repeat;
	width: 21px;
	height: 11px;
	position: absolute;
	z-index: 61000;
	top: 20px;
	right: 10px;	
	display:none;
}

.flow-topic-actionbox, .flow-post-actionbox {
	position: absolute;
	top: 30px;
	right: 0px;
	border: 1px solid silver;
	background-color: #ffffff;
	min-height: 2em;
	width:auto;
	min-width: 100px;
	white-space: nowrap;
	color: #6D6D6D;
	z-index: 60000;
	padding: 10px;
	box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.35);
	display:none;
	font-size: 8pt !important;
}
.flow-topic-actionslink, .flow-post-actions {
	/* @embed */
	background-image: url('images/micro_chevron_down_999999.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 12px;
}
.flow-topic-actionslink:hover, .flow-post-actions:hover {
	/* @embed */
	background-image: url('images/micro_chevron_down_blue.png');
}
.flow-topic-actionslink {
	position: absolute;
	right: 5px;
	font-size: 10pt;
	color: #999999;
}
.flow-post-actions {
	font-size: 10pt;
	color: #999999;
}
.flow-post-actions a, .flow-topic-actionslink a {
	color: #999999 !important;
	cursor: pointer;
}
.flow-topic-actionslink:hover, .flow-post-actions:hover {
	color: #0645ac;
	text-decoration:none !important;
}
.flow-topic-actionbox a, .flow-post-actionbox a {
	font-size: 8pt !important;
}
.flow-topic-actionbox :hover, .flow-post-actionbox :hover {
	text-decoration:none !important;
}
.flow-topic-actionbox ul, .flow-post-actionbox ul {
	margin: 0px;
	list-style: none;	
	font-size: 8pt;
}
.flow-post-actionbox {
	text-align: left;
}
.flow-newtopic-start {
	width: 700px;
	height: 33px;
	margin-top: 10px;
	/* @embed */
	background: transparent url("images/chat_bubble_999999.png") 5px center no-repeat;
	padding-left: 25px !important;	
}
.flow-newtopic-start:hover {
	/* @embed */
	background: transparent url("images/chat_bubble_green.png") 5px center no-repeat;
}

.flow-newtopic-form input[type="text"] {
	width: 700px;
	height: 33px;
	margin-top: 5px;
}
#enterusername input[type="text"] {
	width: 380px;
	height: 33px;
	margin-top: 5px;
}
.flow-newtopic-form textarea, #enterusername textarea {
	width: 700px;
}
.flow-newtopic-form label, #enterusername label {
	font-weight: bold;
}

.flow-newtopic-form .mw-ui-input[type="text"]
{
	border: 1px solid #cccccc;
	margin-bottom: 0px;
	box-shadow:none;
	-webkit-border-bottom-left-radius: 0px;	
	-webkit-border-bottom-right-radius:  0px;	
	-moz-border-bottom-left-radius:  0px;	
	-moz-border-bottom-right-radius:  0px;	
	-ms-border-bottom-left-radius:  0px;	
	-ms-border-bottom-right-radius:  0px;	
	-o-border-bottom-left-radius:  0px;	
	-o-border-bottom-right-radius:  0px;	
	border-bottom-left-radius:  0px;	
	border-bottom-right-radius:  0px;	

}
.flow-newtopic-form textarea.mw-ui-input {
	margin-top: 0px;
	border-top:none;
	box-shadow:none;
	height: 150px;
	-webkit-border-top-left-radius:  0px;	
	-webkit-border-top-right-radius:  0px;	
	-moz-border-top-left-radius:  0px;	
	-moz-border-top-right-radius:  0px;	
	-ms-border-top-left-radius:  0px;	
	-ms-border-top-right-radius:  0px;	
	-o-border-top-left-radius:  0px;	
	-o-border-top-right-radius:  0px;	
	border-top-left-radius:  0px;	
	border-top-right-radius:  0px;	
}
.flow-newtopic-form textarea:focus,
.flow-newtopic-form input[type="text"]:focus {
  -moz-box-shadow:inset 7px 0px 0px #5088f7;
  -webkit-box-shadow:inset 7px 0px 0px #5088f7;
  box-shadow:inset 7px 0px 0px #5088f7;
}
.flow-newtopic-form textarea.mw-ui-error,
.flow-newtopic-form input[type="text"].mw-ui-error
 {
  -moz-box-shadow:inset 7px 0px 0px #cf1c1f;
  -webkit-box-shadow:inset 7px 0px 0px #cf1c1f;
  box-shadow:inset 7px 0px 0px #cf1c1f;
}
#setuserform {
	text-align: left;
}

#simplemodal-overlay {background-color:#000;}

/* Overlay */
.flow-newtopic-form, #enterusername { background-color:#ffffff; }

/* Container */
#enterusername {
	height:360px; 
	width:600px; 
	border:4px solid #444; 
	padding:20px;
}
.editboxmaster {
	padding: 0px !important;
}
.sidelinks {
	position: absolute;
	right: 0px;
	top: 15px;
	width: auto;
	min-width: 160px;
	padding: 10px;
	background-color: #efefef;
	border: 1px solid #efefef;
}

.sidelinks a {
	padding-left: 20px;
	color: #444444;
}
.sidelinks a:hover {
	color: #0645ac;
	text-decoration: none;
}
.sidelinks a.profilelink {
	/* @embed */
	background-image: url(images/icon_user_grey.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidelinks a.archivedtalklink {
	/* @embed */
	background-image: url(images/icon_discussion_grey.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidelinks a.contributionslink {
	/* @embed */
	background-image: url(images/icon_pencil_grey.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidelinks a.emailuserlink {
	/* @embed */
	background-image: url(images/icon_mail_grey.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidelinks a.gratitudelink {
	/* @embed */
	background-image: url(images/icon_heart_grey.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidelinks a.profilelink:hover {
	/* @embed */
	background-image: url(images/icon_user_blue.png);
}
.sidelinks a.archivedtalklink:hover {
	/* @embed */
	background-image: url(images/icon_discussion_blue.png);
}
.sidelinks a.contributionslink:hover {
	/* @embed */
	background-image: url(images/icon_pencil_blue.png);
}
.sidelinks a.emailuserlink:hover {
	/* @embed */
	background-image: url(images/icon_mail_blue.png);
}
.sidelinks a.gratitudelink:hover {
	/* @embed */
	background-image: url(images/icon_heart_blue.png);
}
.flow-utctime {
	cursor: pointer;
}

