@import 'mediawiki.mixins';
@import 'mediawiki.ui/variables';

.flow-component {
	.ve-init-target {
		border: 1px solid #CCC;
		// Undo .mw-body-content font-size (0.875em) and apply font-size matching OOUI theme (0.8em)
		// TODO: Make this theme specific
		font-size: 0.8/0.875em;

		.ve-ce-documentNode {
			// Return to .mw-body-content font-size
			// TODO: Make this theme specific
			font-size: 0.875/0.8em;
		}

		&.flow-ui-focused {
			border-color: @colorProgressive;
			box-shadow: inset 0 0 0 2px @colorProgressive;
		}
	}

	.ve-ce-documentNode {
		// this border comes from .mw-ui-input on the same div, but i dont think
		// we want to remove this for all inputs just the documentNode
		border: none;
		// This creates a space for the toolbar, a matching negative margin-top
		// shifts the toolbar into this location.
		// @todo where did this 40 come from, could it be calculated?
		padding: 1px 8px;
		padding-bottom: 40px;
		min-height: 163px; // (112 + 51) wikitext text area min-height (inline style) + actions
	}

	.oo-ui-toolbar {
		// The -40 matches the padding-bottom on .ve-ce-documentNode to put the toolbar inside
		// the editing area. The 2px of positive margin gives room for the blue border of the
		// documentNode (via .mw-ui-input)
		margin: -42px 2px 1px 2px;
	}

	// Due to this being floated, it needs a matching top margin to still display inside the bar
	.oo-ui-toolbar-actions {
		margin-top: 13px;
	}

	.oo-ui-toolbar-bar {
		// The default border is only appropriate in the default ve, with
		// the toolbar above the editing surface.
		border: none;
		box-shadow: none;
		// When we apply a pending texture to the editor, we don't want the toolbar to display
		// in solid white on top of that.
		background: transparent;
	}

	.oo-ui-toolGroup {
		border: none;
	}
}
