@font-face {
    font-family: 'WikiFont-Glyphs';
    src: url('WikiFont-Glyphs.eot'); /* IE9 Compat Modes */
    src: url('WikiFont-Glyphs.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('WikiFont-Glyphs.woff') format('woff'), /* Modern Browsers */
         url('WikiFont-Glyphs.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('WikiFont-Glyphs.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}


.wikiglyph {
    display: inline-block;
    height: 1.10em;
    font-family: 'WikiFont-Glyphs';
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    overflow: visible;
    vertical-align: text-bottom;
}

.wikiglyph[dir='rtl'] {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
/* UI ELEMENTS e000-023
*/

.wikiglyph-magnifying-glass:before {
  content: "\e000";
}
.wikiglyph-arrow-left:before {
  content: "\e001";
}
.wikiglyph-tick:before {
  content: "\e002";
}
.wikiglyph-x:before {
  content: "\e003";
}
.wikiglyph-x-circle:before {
  content: "\e004";
}
.wikiglyph-unstar:before {
  content: "\e005";
}
.wikiglyph-star:before {
  content: "\e006";
}
.wikiglyph-star-list:before {
  content: "\e007";
}
.wikiglyph-sun:before {
  content: "\e008";
}
.wikiglyph-funnel:before {
  content: "\e009";
}
.wikiglyph-eye:before {
  content: "\e010";
}
.wikiglyph-eye-lid:before {
  content: "\e011";
}
.wikiglyph-bookmark:before {
  content: "\e012";
}
.wikiglyph-printer:before {
  content: "\e013";
}
.wikiglyph-puzzle:before {
  content: "\e014";
}
.wikiglyph-clock:before {
  content: "\e015";
}
.wikiglyph-dice:before {
  content: "\e016";
}
.wikiglyph-move:before {
  content: "\e017";
}
.wikiglyph-gear:before {
  content: "\e018";
}
.wikiglyph-ellipsis:before {
  content: "\e019";
}
.wikiglyph-envelope:before {
  content: "\e020";
}
.wikiglyph-pin:before {
  content: "\e021";
}
.wikiglyph-share:before {
  content: "\e022";
}
.wikiglyph-download:before {
  content: "\e023";
}
.wikiglyph-bell:before {
  content: "\e025";
}
.wikiglyph-bell-ring:before {
  content: "\e026";
}
.wikiglyph-caret-left:before {
  content: "\e027";
}
.wikiglyph-caret-down:before {
  content: "\e028";
}
.wikiglyph-ribbon:before {
  content: "\e029";
}
.wikiglyph-key:before {
  content: "\e030";
}
.wikiglyph-gallery:before {
  content: "\e031";
}
.wikiglyph-map:before {
  content: "\e032";
}
.wikiglyph-heart:before {
  content: "\e033";
}


/* EXPERIMENTS e300-301
*/
.wikiglyph-star-circle:before {
  content: "\e300";
}
.wikiglyph-rocket:before {
  content: "\e301";
}


/* STRIPES e040-043
*/
.wikiglyph-stripe-compact:before {
  content: "\e040";
}
.wikiglyph-stripe-toc:before {
  content: "\e041";
}
.wikiglyph-stripe-expanded:before {
  content: "\e042";
}


/* UI MODERATION ELEMENTS e500-508
*/

.wikiglyph-article:before {
  content: "\e100";
}
.wikiglyph-article-check:before {
  content: "\e101";
}
.wikiglyph-article-search:before {
  content: "\e102";
}
.wikiglyph-trash:before {
  content: "\e500";
}
.wikiglyph-trash-slash:before {
  content: "\e501";
}
.wikiglyph-block:before {
  content: "\e502";
}
.wikiglyph-block-slash:before {
  content: "\e503";
}
.wikiglyph-flag:before {
  content: "\e504";
}
.wikiglyph-flag-slash:before {
  content: "\e505";
}
.wikiglyph-play:before {
  content: "\e506";
}
.wikiglyph-stop:before {
  content: "\e507";
}
.wikiglyph-lock:before {
  content: "\e508";
}
.wikiglyph-unlock:before {
  content: "\e509";
}

/* USER e600-602
*/
.wikiglyph-user-bust:before {
  content: "\e600";
}
.wikiglyph-user-smile:before {
  content: "\e601";
}
.wikiglyph-user-sleep:before {
  content: "\e602";
}


/* TRANSLATION e700
*/
.wikiglyph-translate:before {
  content: "\e700";
}
.wikiglyph-keyboard:before {
  content: "\e701";
}


/* CONTRIBUTION e800-845
*/
.wikiglyph-pencil:before {
  content: "\e800";
}
.wikiglyph-pencil-revert-full:before {
  content: "\e801";
}
.wikiglyph-pencil-revert-pt1:before {
  content: "\e802";
}
.wikiglyph-pencil-revert-pt2:before {
  content: "\e803";
}
.wikiglyph-pencil-lock-full:before {
  content: "\e804";
}
.wikiglyph-pencil-lock-pt1:before {
  content: "\e805";
}
.wikiglyph-pencil-lock-pt2:before {
  content: "\e806";
}
.wikiglyph-speech-bubble:before {
  content: "\e810";
}
.wikiglyph-speech-bubbles:before {
  content: "\e811";
}
.wikiglyph-speech-bubble-add:before {
  content: "\e812";
}
.wikiglyph-speech-bubble-smile:before {
  content: "\e813";
}
.wikiglyph-link:before {
  content: "\e820";
}
.wikiglyph-quotes:before {
  content: "\e830";
}
.wikiglyph-quotes-add:before {
  content: "\e831";
}
.wikiglyph-image:before {
  content: "\e840";
}
.wikiglyph-image-lock-full:before {
  content: "\e841";
}
.wikiglyph-image-lock-pt1:before {
  content: "\e842";
}
.wikiglyph-image-lock-pt2:before {
  content: "\e843";
}
.wikiglyph-image-add-full:before {
  content: "\e844";
}
.wikiglyph-image-add-pt1:before {
  content: "\e845";
}
.wikiglyph-image-add-pt2:before {
  content: "\e846";
}
.wikiglyph-image-main-placeholder:before {
  content: "\e847";
}
.wikiglyph-folder:before {
  content: "\e848";
}
.wikiglyph-folder-main-placeholder:before {
  content: "\e849";
}
.wikiglyph-template-add:before {
  content: "\e850";
}
.wikiglyph-pin:before {
  content: "\e851";
}
.wikiglyph-pin-add:before {
  content: "\e852";
}
.wikiglyph-pin-add-pt1:before {
  content: "\e853";
}
.wikiglyph-pin-add-pt2:before {
  content: "\e854";
}
.wikiglyph-cite:before {
  content: "\e870";
}
.wikiglyph-book:before {
  content: "\e871";
}
.wikiglyph-journal:before {
  content: "\e872";
}
.wikiglyph-web:before {
  content: "\e873";
}
.wikiglyph-news:before {
  content: "\e874";
}
.wikiglyph-signature:before {
  content: "\e875";
}
.wikiglyph-list-sorted:before {
  content: "\e876";
}
.wikiglyph-list-unsorted:before {
  content: "\e877";
}
.wikiglyph-indent-left:before {
  content: "\e878";
}
.wikiglyph-indent-right:before {
  content: "\e879";
}

/* WIKI-X e900+
*/
.wikiglyph-wikitrail:before {
  content: "\e900";
}
.wikiglyph-ccmark:before {
  content: "\e903";
}
.wikiglyph-cmark:before {
  content: "\e901";
}
.wikiglyph-wmark:before {
  content: "\e902";
}

