@font-face {
    font-family: 'WikiFont-Glyphs';
    src: url('WikiFont-Glyphs.eot'); /* IE9 Compat Modes */
    src: url('WikiFont-Glyphs.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('WikiFont-Glyphs.woff') format('woff'), /* Modern Browsers */
         url('WikiFont-Glyphs.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('WikiFont-Glyphs.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}

.wikiglyph {
    display: inline-block;
    height: 1.10em;
    font-family: 'WikiFont-Glyphs';
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    overflow: visible;
    vertical-align: text-bottom;
}

.wikiglyph-unstar:before {
  content: "\e005";
}

.wikiglyph-star:before {
  content: "\e006";
}
