@import 'flow.colors';

// This should be replaced completely by the navigation widget
.flow-board-navigation {
	// This is a hack, we really should, instead, work with
	// overlays.
	z-index: 1;
}

.flow-ui-navigationWidget {
	width: 100%;
	z-index: 1;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.5em;

	&-affixed {
		position: fixed;
		z-index: 2;
		top: 0;
		background: white;
	}

	&-clear {
		clear: both;
	}

	.flow-ui-tocWidget {
		width: 66%;
		display: inline-block;
		position: relative;
		float: left;
		// Make room for the box shadow
		padding: 2px;

		// Set the border (and the effects) around the entire ToC widget
		// rather than just the input
		border: 1px solid @colorFieldBorder;
		-webkit-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s
		 cubic-bezier(0.39, 0.575, 0.565, 1);
		-moz-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cu
		bic-bezier(0.39, 0.575, 0.565, 1);
		-o-transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubi
		c-bezier(0.39, 0.575, 0.565, 1);
		transition: border 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), box-shadow 0.2s cubic-b
		ezier(0.39, 0.575, 0.565, 1);

		&-focused {
			border-color: @colorProgressive;
			box-shadow: inset 0 0 0 2px @colorProgressive;
		}


		&-search {
			display: inline-block;
			margin-right: 0;

			input {
				border: 0;
				box-shadow: none;
				-webkit-appearance: none;
				width: 100%;

				&:focus {
					box-shadow: none;
				}
			}
		}

		&-button {
			position: absolute;
			right: 0;
			background: white;
			margin-right: 2px;
			width: 10em;
			border-left: 1px solid @colorFieldBorder;

			.oo-ui-buttonElement-button {
				width: 100%;
				.oo-ui-labelElement-label {
					text-overflow: ellipsis;
					overflow: hidden;
					// Prevent LESS from "helpfully" precomputing 100%-1.875
					width: ~"calc(100% - 1.875em)";
				}
			}

			// Set animation for resizing effect
			-webkit-transition: width 0.2s;
			-moz-transition: width 0.2s;
			-o-transition: width 0.2s;
			transition: width 0.2s;
		}

		&-wrapper {
			width: 100%;
			max-height: 400px;
			position: absolute;
			overflow: hidden;

			/* Workaround for flicker and https://code.google.com/p/chromium/issues/detail?id=343244 */
			-webkit-transform: translateZ(0);
		}

		// Sizing variations for the ToC widget states
		&-state-search {
			.flow-ui-tocWidget-button {
				width: 1.875em;
				.oo-ui-labelElement-label {
					display: none;
				}
			}
		}

		&-state-toc {
			.flow-ui-tocWidget-button {
				// Prevent LESS from "helpfully" precomputing 100%-1.875
				// 100% - icon size - padding
				width: ~"calc( 100% - 1.875em - 1em)";
			}
		}
	}

	.flow-ui-reorderTopicsWidget {
		display: inline-block;
		float: right;
		position: relative;
		.flow-ui-reorderTopicsWidget-menu {
			right: 0;
		}
	}
}

