@import 'mediawiki.mixins';

.flow-ui-newTopicWidget {
	clear: both;
	margin-top: 1.5em;

	&-title.oo-ui-textInputWidget {
		// OO.ui.TextInputWidget has a max-width: 50 by default
		max-width: none;

		input {
			.flow-ui-newTopicWidget-expanded & {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			// Match heading styles
			font-size: 1.5em;
			font-weight: bold;
			line-height: 1.25em;

			// Reproduce mw-input
			-webkit-appearance: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			padding: 0.3em 0.3em 0.3em 0.6em;
			display: block;
			vertical-align: middle;
			font-family: inherit;
			-webkit-transition: border 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 );
			-moz-transition: border 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 );
			-o-transition: border 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 );
			transition: border 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 ), box-shadow 0.2s cubic-bezier( 0.39, 0.575, 0.565, 1 );

			/* stylelint-disable indentation */
			.mixin-placeholder( {
				font-weight: normal;
			} );
			/* stylelint-enable indentation */
		}
	}

	&-editor {
		.flow-editor,
		.flow-ui-editorSwitcherWidget {
			margin-top: -1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		.flow-editor.flow-ui-focused,
		.flow-ui-editorSwitcherWidget-focused {
			/* Force above the title widget so border isn't cropped */
			position: relative;
		}
	}
}
