.flow-ui-searchResultsWidget {
	background:rgba(0,0,0,0.5);
	overflow-y: auto;

	.flow-ui-searchResultsWidget-title,
	.flow-ui-searchResultsWidget-topiclist {
		display: block;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		background: white;
	}
}
