.flow-ui-topicMenuSelectWidget {
	position: relative;
	max-height: 400px;
	min-width: 200px;

	// Override border-color and margin-top from OOUI MenuSelectWidget
	border-color: #ccc;
	margin-top: 0;
}
