@import 'flow.colors';

// Helpers
.helper-flow-ui-active( @mainColor ) {
	// Omit IE6 from all other rules
	&[class] {
		color: @mainColor;

		// Quiet mode is gray at first
		&.flow-ui-quiet {
			.flow-ui-anchor-quiet( @mainColor );
		}

		// Active node is always colored
		&.flow-ui-active {
			&, &:link, &:visited {
				color: @mainColor;
			}
		}
	}
}

.flow-ui-anchor-quiet( @mainColor ) {
	color: @colorTextLight;
	text-decoration: none;

	a&:hover {
		color: @mainColor;
	}
	a&:focus, a&:active {
		color: darken( @mainColor, @colorDarkenPercentage );
	}
}

// Styles
.mw-ui-constructive {
	.helper-flow-ui-active( @colorConstructive );
}
