@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

.flow-ui-text-truncated {
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
