@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

/*
Tooltips

<h3>Guidelines</h3>

Requires the following markup at minimum: <span class="mw-ui-tooltip">CONTENT<span class="mw-ui-tooltip-triangle"></span></span>
An additional class should be added relating the triangle to the direction of the content: mw-ui-tooltip-DIRECTION, where direction is one of up, down, left, or right.
Adding to this could be an extra class: mw-ui-tooltip-inverted, which moves the tooltip and triangle to the opposing side. This used when the tooltip would go off the right of the viewport, and instead aligns to the right of the viewport.
Finally, a context class can be given to assign it a color (eg. mw-ui-progressive).

This is intended to be used with JavaScript, but does not have to be. With JS, you can directly bind the element to given X-Y coords for an element.

Styleguide 4.0.
 */
.flow-ui-tooltip {
	position: relative;
	top: 1px;
	display: inline-block;
	padding: .5em;
	background: @colorOffWhite;
	color: @colorText;
	word-wrap: break-word;
	border-radius: 3px;
	text-shadow: 0px 1px 0 rgba(0,0,0,.25);
	.box-shadow( ~"0 2px 0 0 @{colorGrayLight}" );
	opacity: .9;

	&.flow-ui-tooltip-block {
		.box-sizing(border-box);
		width: 100%;
	}

	.flow-ui-tooltip-triangle {
		position: absolute;
		overflow: hidden;
		pointer-events: none;

		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			width: 1em;
			height: 1em;
			background: @colorOffWhite;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}

	// mw-ui-tooltip helpers to cleanly set triangle location
	.flow-ui-tooltip-triangle-location-vertical( top ) {
		top: -1em;
	}
	.flow-ui-tooltip-triangle-location-vertical( bottom ) {
		bottom: -1em;
	}
	.flow-ui-tooltip-triangle-location-vertical( left ) {
		left: -1em;
	}
	.flow-ui-tooltip-triangle-location-vertical( right ) {
		right: -1em;
	}
	.flow-ui-tooltip-triangle-location( horizontal, @location ) {
		width: 2em;
		height: 1em;
		left: 50%;
		.flow-ui-tooltip-triangle-location-vertical( @location );
		margin-left: -1em;
	}
	.flow-ui-tooltip-triangle-location( vertical, @location ) {
		width: 1em;
		height: 2em;
		.flow-ui-tooltip-triangle-location-vertical( @location );
		top: 50%;
		margin-top: -1em;
	}

	// triangle on top
	&.flow-ui-tooltip-up {
		margin-top: .75em;

		.flow-ui-tooltip-triangle {
			.flow-ui-tooltip-triangle-location( horizontal, top );
			margin-top: 1px;

			&:after {
				top: .5em;
				left: .5em;
			}
		}
	}

	// triangle on bottom
	&.flow-ui-tooltip-down {
		margin-top: -.75em;

		.flow-ui-tooltip-triangle {
			.flow-ui-tooltip-triangle-location( horizontal, bottom );
			margin-bottom: 1px;

			&:after {
				top: -.5em;
				left: .5em;
				.box-shadow( ~"0 -2px 0 2px @{colorGrayLight}" );
			}
		}
	}

	// triangle at left
	&.flow-ui-tooltip-left {
		margin-left: .75em;

		.flow-ui-tooltip-triangle {
			.flow-ui-tooltip-triangle-location( vertical, left );
			margin-left: 1px;

			&:after {
				margin-top: -1px;
				top: .5em;
				right: -.5em;
				.box-shadow( ~"2px 0 0 2px @{colorGrayLight}" );
			}
		}
	}

	// triangle at right
	&.flow-ui-tooltip-right {
		margin-left: -.75em;

		.flow-ui-tooltip-triangle {
			.flow-ui-tooltip-triangle-location( vertical, right );
			margin-right: 1px;

			&:after {
				margin-top: -1px;
				top: .5em;
				left: -.5em;
				.box-shadow( ~"0 2px 0 2px @{colorGrayLight}" );
			}
		}
	}

	.flow-ui-tooltip-color( @backgroundColor ) {
		@backgroundColorDarkened: darken( @backgroundColor, @colorDarkenPercentage );

		background: @backgroundColor;
		.box-shadow( ~"0 2px 0 0 @{backgroundColorDarkened}" );
		color: @colorWhite;

		.flow-ui-tooltip-triangle:after {
			background: @backgroundColor;
		}
		&.flow-ui-tooltip-down .flow-ui-tooltip-triangle:after {
			.box-shadow( ~"0 -2px 0 2px @{backgroundColorDarkened}" );
		}
		&.flow-ui-tooltip-left .flow-ui-tooltip-triangle:after {
			.box-shadow( ~"2px 0 0 2px @{backgroundColorDarkened}" );
		}
		&.flow-ui-tooltip-right .flow-ui-tooltip-triangle:after {
			.box-shadow( ~"0 2px 0 2px @{backgroundColorDarkened}" );
		}
	}

	// Don't apply these classes on IE6
	&[class] {
		&.flow-ui-progressive {
			.flow-ui-tooltip-color( @colorProgressive );
		}
		&.flow-ui-constructive {
			.flow-ui-tooltip-color( @colorConstructive );
		}
		&.flow-ui-destructive {
			.flow-ui-tooltip-color( @colorDestructive );
		}
		&.flow-ui-regressive {
			.flow-ui-tooltip-color( @colorRegressive );
		}
		&.flow-ui-tooltip-mini {
			font-size: .75em;
		}
	}
}
