// based on Flow Prototype/Design/Iteration 5 "Buttons & Flyout Options"

@import 'settings/colors.less';
@import 'mixins/buttons.less';

.mw-ui-button {
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
	text-shadow: none;
	font-family: sans-serif;
	font-size: 14px;

	// Firefox forces an !important line-height on inputs, meaning we can't
	// override it - workaround is to set line-height to normal everywhere else
	// too, and use padding accomplish the same thing.
	// @see http://stackoverflow.com/questions/3650530/firefox-line-height-issue-with-input-fields
	line-height: normal;
	padding-top: 7px;
	padding-bottom: 7px;

	// Firefox adds some "special padding" around an input's value - in order to
	// have both a & input-like buttons look exactly the same, get rid of that!
	// @see http://ovms.co/2010/06/fix-firefox-button-padding/
	&::-moz-focus-inner {
		padding: 0 !important;
		border: 0 none !important;
	}

	// if button is followed by another button, add some space in between
	+ .mw-ui-button{
		margin-left: 8px;
	}

	.buttonColors(
		// normal
		@neutral-base, // background
		#898989, //text
		#ccc, //border

		// hover
		@neutral-base,
		#898989,

		// active
		@neutral-active,
		#898989,

		// disabled
		@neutral-base,
		#bbb // a choice based on https://trello.com/c/BJgrJCyX/59-thank-user
	);

	&.mw-ui-constructive {
		.buttonColors(
			// normal
			@constructive-base, // background
			#fff, // text
			#00af8b, // border

			// hover
			@constructive-base,
			#fff,

			// active
			@constructive-active,
			#fff,

			// disabled
			@neutral-base,
			#898989
		);

		// override borders
		border: 0px transparent;

		&:disabled {
			border: 1px solid #ccc;
		}
	}

	// TODO: mw-ui-progressive (blue) for intermediate steps from Agora specs.

	&.mw-ui-destructive {
		.buttonColors(
			// normal
			@destructive-base, // background
			#fff, // text
			@destructive-base, // border

			// hover
			@destructive-base,
			#fff,

			// active
			@destructive-active,
			#fff,

			// disabled
			@neutral-base,
			#898989
		);

		&.mw-ui-destructive-medium {
			.buttonColors(
				// normal
				@destructive-medium-base, // background
				#fff, // text
				@destructive-medium-base, // border

				// hover
				@destructive-medium-base,
				#fff,

				// active
				@destructive-medium-active,
				#fff,

				// disabled
				@neutral-base,
				#898989
			);
		}

		&.mw-ui-destructive-low {
			.buttonColors(
				// normal
				@destructive-low-base, // background
				#fff, // text
				@destructive-low-base, // border

				// hover
				@destructive-low-base,
				#fff,

				// active
				@destructive-low-active,
				#fff,

				// disabled
				@neutral-base,
				#898989
			);
		}
	}
}
