@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

// Collapser states
// Hide the other two collapser buttons initially; these are toggled by a single click
.flow-board-navigation {
	a.flow-board-collapser-compact,
	a.flow-board-collapser-topics {
		display: none;
	}
}

// Overrides to the default expand/collapse state.  Only set when
// necessary and removed when the page-level state changes
// div is used to add specificity.
div.flow-element-expanded {
	// topic hidden
	.flow-post,
	.flow-reply-form {
		display: block;
	}

	// post hidden
	.flow-post & .flow-moderated-post-content {
		display: none;
	}
}

.flow-board:not(.flow-disable-topic-collapse) {
	div.flow-element-collapsed {
		// topic hidden
		.flow-post,
		.flow-reply-form {
			display: none;
		}
	}
}

.flow-post {
	// post hidden
	div.flow-element-collapsed {
		.flow-post-content,
		.flow-post-meta {
			display: none;
		}
	}
}