@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

// Preview
.flow-content-preview {
	word-wrap: break-word;
	word-break: break-word;

	background-color: #FDFFE7;
	border: 1px solid #FCEB92;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
	white-space: normal;
	overflow: auto;

	display: none; // Hide initially

	.flow-preview-sub-container {
		margin-top: 5px;
	}
}
