@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

// Form button actions should be right-affixed
.flow-form-actions {
	position: relative;
	margin-top: .25em;

	button.mw-ui-button, a.mw-ui-button {
		float: right;
		margin-left: .25em;
	}
}

textarea.mw-ui-input.flow-input-compressed {
	height: 2.25em;
	min-height: 2.25em;
	resize: none;
}

.flow-anon-warning {
	position: relative;
}
.flow-anon-warning-desktop {
	display: none;
	position: absolute;
	right: -15em;
	width: 15em;
}

.client-js {
	// We determine in JS whether their editor has a preview mode.
	// We assume all no-JS compatible editors do.
	// The extra specificity is to override the normal .flow-js behavior

	.flow-js.flow-form-action-preview {
		display: none;
	}

	.flow-editor-supports-preview .flow-js.flow-form-action-preview {
		display: block;
	}
}

@media all and (min-width: @wgFlowDeviceWidthTablet) {
	.flow-anon-warning-mobile {
		display: none;
	}
	.flow-anon-warning-desktop {
		display: block;
	}
}
