@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';
@import 'flow.variables';

.flow-board-header {
	word-break: break-word;
	font-size: .875em;
	width: 100%;
	max-width: 700px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 5px;

}

// Top board header
.flow-board-header-nav {
	text-align: left;
	font-size: 1.15em;
	.mw-ui-button {
		padding: 0;
	}
}

.flow-board-header-content {
	margin-top: 20px;
}

// Top board header edit icon
.flow-board-header-icon {
	opacity: .33;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

// need to be specific to override this h2
div#content h2.flow-board-header-title {
	display: none;

	padding: 0;
	margin-top: 0;
	border-bottom: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.75em;
}
