@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

// Visually mark locked topics and hide posts
.flow-topic-moderatestate-lock {
	.flow-topic-titlebar {
		background-color: @colorGray15;
	}
}

// Entire moderated post element
.flow-post-moderated .flow-author a,
.flow-moderated-post-content {
	color: @colorTextLight;
}

.flow-post {
	// Hide the message about the moderation action when the post is expanded
	.flow-element-expanded .flow-moderated-post-content {
		display: none;
	}

	.flow-element-collapsed {
		.flow-post-content,
		.flow-post-meta {
			display: none;
		}
	}
}
