@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

// Visually mark locked topics and hide posts
.flow-topic-moderatestate-lock {
	.flow-topic-titlebar {
		background-color: @colorGray15;
	}
}

// Entire moderated post element
.flow-post-moderated .flow-author a,
.flow-moderated-post-content {
	color: @colorTextLight;
}

.board-page {
	.flow-board {
		.flow-element-collapsed {
			.flow-post {
				display: none;
			}
		}
	}
}
