@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

// Visually mark moderated comments and posts
// Locked and deleted are inverted (white bg)
.flow-topic-moderatestate-lock,
.flow-topic-moderatestate-delete {
	color: @colorTextLight;

	.flow-topic-titlebar {
		background-color: @colorWhite;
		border: solid 1px @colorGrayLight;
	}
}

// Entire moderated post element
.flow-post-moderated .flow-author a,
.flow-moderated-post-content {
	color: @colorTextLight;
}

.flow-post {
	// Hide the message about the moderation action when the post is expanded
	.flow-element-expanded .flow-moderated-post-content {
		display: none;
	}

	.flow-element-collapsed {
		.flow-post-content,
		.flow-post-meta {
			display: none;
		}
	}
}
