@import 'mediawiki.mixins';
@import 'flow.colors';
@import 'flow.helpers';

.flow-timestamp {
	display: inline-block;
	text-align: left;

	.flow-timestamp-user-formatted {
		display: none;
	}
	.flow-timestamp-ago {
		display: block;
	}

	&:hover {
		.flow-timestamp-user-formatted {
			display: block;
		}
		.flow-timestamp-ago {
			display: none;
		}
	}
}

.flow-timestamp-ago,
.flow-timestamp-user-formatted {
	display: block;
	position: relative;
}

.flow-timestamp-ago {
	margin-top: -1em;
}

// inherit the gray color if not hovered, doesn't work in ie8
a.flow-timestamp-anchor:not(:hover) {
	color: inherit;
}
