@icons-space: 44px;

// all UI "container" elements should have this class, which will preserve some
// space on the right for icons.
.flow-element-container {
	position: relative;

	// .container-icons' space
	padding-right: @icons-space !important;

	.flow-icon {
		// only display when hovered
		opacity: 0;
		transition: opacity 0.2s;

		clear: both;
		float: right;

		position: relative;
		right: -@icons-space;

		width: 20px;
		height: 20px;
		text-indent: -9999px;

		padding: 10px;

		// remove any browser hints, favoring our own
		outline: none;

		// icons bottom-aligned should in HTML be _after_ the element where they
		// should align to the bottom, and have this class added (will push the
		// button back up to line up with the preceding node)
		&.flow-icon-bottom-aligned {
			margin-top: -30px;
		}

		// icons top-aligned should in HTML be _before_ the element where they
		// should align to the top, and have this class added
		&.flow-icon-top-aligned {
			margin-top: -10px;
		}
	}

	// div is a hack to add specificity
	&:hover div .flow-icon {
		opacity: 0.5;
	}
	div .flow-icon:hover {
		opacity: 1;
	}
}

.flow-container {
	font-size: 16px;

	// allow width to float a bit so we can accommodate some smaller screens
	min-width: 400px;
	max-width: 800px;
}
