// more specificity than typography refresh to override for Flow h2's
div#content .flow-container h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 23px;
	color: #231f20;
	border: none;
	margin-bottom: 24px;
}
