.flow-content-preview {
	background-color: #FDFFE7;
	border: 1px solid #FCEB92;
	padding: 5px;
	display: none;
	margin-top: 5px;
	margin-bottom: 5px;

	.flow-preview-sub-container {
		margin-top: 5px;
	}
}
