.flow-loading-indicator {
	width: 20px;
	height: 20px;
	display: inline-block;

	/* @embed */
	background: transparent url('../images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.flow-datestamp {
	color: #aaa;

	span {
		line-height: 18px;
		border-bottom: 1px solid #ccc;
	}
}
