@import 'mediawiki.mixins.less';

.flow-loading-indicator {
	width: 18px;
	height: 18px;
	display: inline-block;

	background-position: center center;
	background-repeat: no-repeat;
	.background-image('../../../../../resources/mediawiki/mediawiki.feedback.spinner.gif');
}

.flow-datestamp {
	color: #aaa;
	font-size: 14px;

	.flow-agotime {
		opacity: 1;
		transition: opacity 0.2s;
	}
	.flow-utctime {
		opacity: 0;
		transition: opacity 0.2s;
	}
	// a necessary for specificity
	&:hover a {
		.flow-agotime {
			opacity: 0;
		}
		.flow-utctime {
			opacity: 1;
		}
	}
}

span.flow-datestamp {
	color: inherit !important;
}

.flow-element-container {
	.flow-datestamp {
		.flow-agotime {
			// Position flow-agotime ontop of flow-utctime
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

.flow-terms-of-use {
	float: left;
	width: 50%;
	text-align: left;
	font-size: 10px;
	opacity: 0.6; 
}
