.topicsummary {
  border: 1px solid #444444;
  background-color: #d0d0d0;
  margin-bottom: 5px;
}

.summarymeta {
  background-color: #444444;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt !important;
}

.summarydate {
  color: #ffffff !important;
}

.summaryauthor {
  color: #ffffff !important;
  font-size: 10pt;
  text-decoration: none;
}

.summarytext {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
}
