@import 'settings/colors.less';
@import 'mediawiki.mixins.less';

.flow-history-container {
	color: @history-content-color;

	a {
		text-decoration: none;
		font-weight: bold;
		color: content;

		&:hover {
			text-decoration: underline;
		}
	}

	.flow-history-pages {
		color: @history-pages-color;
		margin: 0;
		padding-bottom: 30px;

		a {
			color: @history-pages-color;
		}
	}

	.flow-history-log {
		border-top: 1px solid #e4e4e5;
		padding-top: 22px;

		ul {
			list-style: none;
			margin: 0;
			padding-left: 22px;

			li {
				padding: 0 0 22px 30px;
				background-position: left 2px;
				background-size: 15px auto;
				background-repeat: no-repeat;

				&.flow-history-bundle {
					.background-image-svg('../../base/images/junkdrawer_normal.svg', '../../base/images/junkdrawer_normal.png');

					&:hover {
						.background-image-svg('../../base/images/junkdrawer_hover.svg', '../../base/images/junkdrawer_hover.png');
					}
				}

				&.flow-rev-message-edit-title {
					.background-image-svg('../../base/images/edit_normal.svg', '../../base/images/edit_normal.png');

					&:hover {
						.background-image-svg('../../base/images/edit_hover.svg', '../../base/images/edit_hover.png');
					}
				}

				&.flow-rev-message-reply {
					.background-image-svg('../../base/images/new_normal.svg', '../../base/images/new_normal.png'); // @todo: need icon

					&:hover {
						.background-image-svg('../../base/images/new_hover.svg', '../../base/images/new_hover.png'); // @todo: need icon
					}
				}

				a {
					color: @history-content-color;
				}

				p {
					margin: 0;
				}

				.flow-datestamp {
					font-size: 14px;
					display: inline-block;

					a {
						font-weight: normal;
					}
				}
			}
		}
	}
}
