// FIXME: Minerva skin currently operates in non-JavaScript mode
// Remove when JavaScript integration has occurred.
.skin-minerva .flow-container,
.client-nojs .flow-container {
	// position tipsy window in upper right hand corner
	.flow-tipsy {
		position: absolute;
		top: 0;
		right: 0;
	}

	// flyout doesn't need to be pushed down below the icon; there's no JS, so
	// no event handlers when clicking the flyout; so the flyout will always be
	// displayed
	.flow-tipsy-flyout {
		position: inherit;
		top: 0;

		ul {
			// Core applies margin to all uls, but we dont want it in this case
			margin: 0;
		}

		a {
			// Unfortunatly the anchors are receiving gray from the titlebar's
			// mw-ui-button.  Soon that will be removed, but until then undo it
			background: #FFF;
		}

	}

	// shrink textarea's until they are focused
	.flow-post-container,
	.flow-new-topic-container {
		textarea:empty:not(:focus) {
			height: 34px;
		}
	}

	// make room for the always visible flyout
	.flow-element-container .flow-datestamp {
		right: 50px;
	}
	.flow-post-content {
		padding-right: 45px;
	}

	// these should only be displayed when the form is "active", but we don't
	// have such interaction without JS
	.flow-post-reply-container,
	.flow-form-controls {
		display: block;
	}

	// don't shrink reply form (it can't auto-expand)
	.flow-reply-content {
		height: auto;
	}

	// don't hide new topic content textarea
	.flow-newtopic-step2 {
		display: block;
	}
}
