@import 'settings/colors.less';
@import 'mediawiki.mixins.less';

.flow-post-container {
	clear: both;

	.flow-post {
		margin: 10px 0;
		padding-left: 16px;
	}

	.flow-post-main {
		position: relative;
	}

	// must be outside .flow-post-title for specificity
	.flow-creator .mw-usertoollinks {
		opacity: 0;
		transition: opacity 0.2s;
	}

	.flow-post-title {
		padding-top: 10px;
		padding-bottom: 8px;

		.flow-creator {
			font-weight: bold;
			color: @post-title-color;

			&:hover .mw-usertoollinks {
				opacity: 1;
			}
		}
	}

	.flow-post-content {
		font-weight: normal;
		color: @post-content-color;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}

		ul {
			list-style-image: none;
		}
	}

	.flow-edit-post-link {
		margin-top: -43px !important; // default -30px + -13px to be pushed up (because of .flow-post-content bottom padding)

		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
		.background-image-svg('../../base/images/edit_hover_ltr.svg', '../../base/images/edit_hover_ltr.png');
	}

	.flow-icon-permalink {
		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
		.background-image-svg('../../base/images/permalink_hover.svg', '../../base/images/permalink_hover.png');
	}

	.flow-post-interaction {
		padding-top: 13px;

		// hide reply/thank buttons until post is hovered
		opacity: 0;
		transition: opacity 0.2s;

		.mw-ui-button {
			border: none;
			padding: 0;
			background: none;
			color: #777;

			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
	}

	.flow-element-container:hover .flow-post-interaction {
		opacity: 1;
	}



	.flow-datestamp {
		position: absolute;
		right: 22px;
		bottom: 0;
		margin: 0;

		a {
			color: inherit;
		}
	}

	.flow-actions {
		position: relative;

		.flow-actions-flyout {
			position: absolute;
			top: -50px;
			right: 0;
		}

		.flow-actions-link {
			width: 20px;
			height: 20px;
			text-indent: -9999px;

			background-position: center;
			background-size: 20px auto;
			background-repeat: no-repeat;
			.background-image-svg('../../base/images/flag_hover.svg', '../../base/images/flag_hover.png');
		}
	}

	// any non-first-level reply
	.flow-post-replies {
		font-size: 14px;

		margin-left: 22px;
		border-left: 2px dotted #CCC;
	}

	/*
	 * Although the reply form is not displayed if a reply would violate
	 * threading depth, there may be legacy data (e.g. when decreasing threading
	 * depth) where we need to flatten out deeper threaded replies.
	 */
	.flow-post-max-depth {
		.flow-post-replies {
			border-left: 0px solid transparent;
			margin-left: 0px;
		}
	}

	.flow-thank-link {
		padding-left: 41px;

		.background-image-svg('../../base/images/thank.svg', '../../base/images/thank.png');
		background-position: 12px;
		background-size: 20px auto;
		background-repeat: no-repeat;
	}

	.flow-post-reply-container {
		padding-left: 22px;

		.flow-creator {
			font-weight: bold;
			color: @post-title-color;
			padding-bottom: 22px;
		}
	}

	.flow-reply-form,
	.flow-edit-post-form {
		padding-top: 20px;

		.flow-post-form-controls {
			margin-top: 5px;
			text-align: right;
		}

		textarea {
			width: 100%;
			/*
			 * The textarea has some padding for the text; make it easier to define the
			 * exact length. box-sizing defines what the length is applied to. We want it
			 * to include padding & border, so border-box it is (the default value,
			 * content-box, applies length to content, making the textarea larger if e.g.
			 * padding is defined)
			 */
			box-sizing: border-box;
			-moz-box-sizing: border-box;

			font-family: sans-serif;
		}
	}

	.flow-post-moderated {
		.flow-post-moderated-message {
			color: #aaa;
			padding: 0;
			margin: 0 0 20px 0;

			a {
				color: #aaa;
				text-decoration: none;
				line-height: 18px;

				&:hover {
					border-bottom: 1px solid #ccc;
				}
			}

			&.flow-post-moderated-hide,
			&.flow-post-moderated-delete,
			&.flow-post-moderated-suppress {
				padding-left: 22px;

				background-position: left;
				background-size: 14px auto;
				background-repeat: no-repeat;
			}

			&.flow-post-moderated-hide {
				.background-image-svg('../../base/images/hidden_normal.svg', '../../base/images/hidden_normal.png');
			}

			&.flow-post-moderated-delete {
				.background-image-svg('../../base/images/deleted_normal.svg', '../../base/images/deleted_normal.png');
			}

			&.flow-post-moderated-suppress {
				.background-image-svg('../../base/images/suppressed_normal.svg', '../../base/images/suppressed_normal.png');
			}
		}

		&.flow-post-moderated-visible {
			.flow-post-moderated-message {
				&.flow-post-moderated-hide {
					.background-image-svg('../../base/images/hidden_active.svg', '../../base/images/hidden_active.png');
				}

				&.flow-post-moderated-delete {
					.background-image-svg('../../base/images/deleted_active.svg', '../../base/images/deleted_active.png');
				}

				&.flow-post-moderated-suppress {
					.background-image-svg('../../base/images/suppressed_active.svg', '../../base/images/suppressed_active.png');
				}
			}
		}

		.flow-post-main {
			// hide post if it's been moderated (can be toggled back via JS)
			display: none;

			color: #aaa;

			// hide non-essential elements
			.flow-post-title,
			.flow-datestamp {
				display: none;
			}
		}
	}

	.flow-post {
		border-left: 6px solid transparent;
	}

	&.flow-post-highlighted > .flow-post {
		border-left: 6px solid #00AF89
	}

	.flow-post-nocontrols .flow-post-interaction {
		display: none;
	}
}
