@import 'settings/colors.less';
@import 'mediawiki.mixins.less';

.flow-post-container {
	clear: both;

	.flow-post {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 22px;
	}

	.flow-post-title {
		padding-bottom: 22px;

		.flow-creator {
			font-weight: bold;
			color: @post-title-color;

		}
	}

	.flow-post-content {
		font-weight: normal;
		color: @post-content-color;

		padding-bottom: 20px;

		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}

	.flow-edit-post-link {
		margin-top: -60px !important; // default -40px + -20px to be pushed up (because of .flow-post-content bottom padding)

		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
		.background-image-svg('../../base/images/edit_normal.svg', '../../base/images/edit_normal.png');

		&:hover {
			.background-image-svg('../../base/images/edit_hover.svg', '../../base/images/edit_hover.png');
		}
	}

	.flow-icon-permalink {
		margin-top: -30px !important;

		background-position: center;
		background-size: 20px auto;
		background-repeat: no-repeat;
		.background-image-svg('../../base/images/permalink_normal.svg', '../../base/images/permalink_normal.png');

		&:hover {
			.background-image-svg('../../base/images/permalink_hover.svg', '../../base/images/permalink_hover.png');
		}
	}

	.flow-post-interaction {
		// hide reply/thank buttons until post is hovered
		visibility: hidden;
	}

	.flow-datestamp {
		float: right;
		padding-right: 22px;

		a.flow-action-history-link {
			color: inherit;
		}
	}

	.flow-actions {
		position: relative;

		.flow-actions-flyout {
			position: absolute;
			top: -34px;
			right: 0;
		}

		.flow-actions-link {
			width: 20px;
			height: 20px;
			text-indent: -9999px;

			background-position: center;
			background-size: 20px auto;
			background-repeat: no-repeat;
			.background-image-svg('../../base/images/flag_normal.svg', '../../base/images/flag_normal.png');

			&:hover {
				.background-image-svg('../../base/images/flag_hover.svg', '../../base/images/flag_hover.png');
			}
		}
	}

	// Add icon to action buttons
	.buttonIcon(
		@active-icon,
		@active-fallback-icon,

		@hover-icon,
		@hover-fallback-icon,

		@normal-icon,
		@normal-fallback-icon,

		@onclick-icon,
		@onclick-fallback-icon
	) {
		padding-left: 42px;
		// !important to overwrite MW core's background image
		.background-image-svg(@normal-icon, @normal-fallback-icon) !important;

		&:active {
			.background-image-svg(@active-icon, @active-fallback-icon) !important;
		}

		&:hover {
			.background-image-svg(@hover-icon, @hover-fallback-icon) !important;
		}

		background-position: 16px !important;
		background-size: 14px auto !important;
		background-repeat: no-repeat !important;
	}

	.flow-hide-post-link {
		.buttonIcon(
			'../../base/images/moderate_menu_hidden_active.svg',
			'../../base/images/moderate_menu_hidden_active.png',

			'../../base/images/moderate_menu_hidden_hover.svg',
			'../../base/images/moderate_menu_hidden_hover.png',

			'../../base/images/moderate_menu_hidden_normal.svg',
			'../../base/images/moderate_menu_hidden_normal.png',

			'../../base/images/moderate_menu_hidden_onclick.svg',
			'../../base/images/moderate_menu_hidden_onclick.png',
		);
	}

	.flow-delete-post-link {
		.buttonIcon(
			'../../base/images/moderate_menu_deleted_active.svg',
			'../../base/images/moderate_menu_deleted_active.png',

			'../../base/images/moderate_menu_deleted_hover.svg',
			'../../base/images/moderate_menu_deleted_hover.png',

			'../../base/images/moderate_menu_deleted_normal.svg',
			'../../base/images/moderate_menu_deleted_normal.png',

			'../../base/images/moderate_menu_deleted_onclick.svg',
			'../../base/images/moderate_menu_deleted_onclick.png',
		);
	}

	.flow-censor-post-link {
		.buttonIcon(
			'../../base/images/moderate_menu_suppressed_active.svg',
			'../../base/images/moderate_menu_suppressed_active.png',

			'../../base/images/moderate_menu_suppressed_hover.svg',
			'../../base/images/moderate_menu_suppressed_hover.png',

			'../../base/images/moderate_menu_suppressed_normal.svg',
			'../../base/images/moderate_menu_suppressed_normal.png',

			'../../base/images/moderate_menu_suppressed_onclick.svg',
			'../../base/images/moderate_menu_suppressed_onclick.png',
		);
	}

	.flow-restore-post-link {
		// @todo: need icons
//		.buttonIcon('../../base/images/restored_button.svg', '../../base/images/restored_button.png');
	}

	.flow-post-replies {
		margin-left: 22px;
		border-left: 1px solid #999;
		
		.flow-post-replies {
			border-left: 0px solid transparent;
			margin-left: 0px;
		}
	}

	.flow-thank-link {
		padding-left: 46px;

		.background-image-svg('../../base/images/thank.svg', '../../base/images/thank.png');
		background-position: 16px;
		background-size: 20px auto;
		background-repeat: no-repeat;
	}

	.flow-reply-form,
	.flow-edit-post-form {
		padding-top: 20px;

		.flow-post-form-controls {
			text-align: right;
		}

		textarea {
			width: 100%;
			/*
			 * The textarea has some padding for the text; make it easier to define the
			 * exact length. box-sizing defines what the length is applied to. We want it
			 * to include padding & border, so border-box it is (the default value,
			 * content-box, applies length to content, making the textarea larger if e.g.
			 * padding is defined)
			 */
			box-sizing: border-box;
			-moz-box-sizing: border-box;

			font-family: sans-serif;
		}
	}

	.flow-post:hover {
		.flow-post-interaction {
			visibility: visible;
		}
	}

	.flow-post-moderated {
		.flow-post-moderated-message {
			color: #aaa;
			padding: 0;
			margin: 0 0 20px 0;

			a {
				color: #aaa;
				text-decoration: none;
				line-height: 18px;

				&:hover {
					border-bottom: 1px solid #ccc;
				}
			}

			&.flow-post-moderated-hide,
			&.flow-post-moderated-delete,
			&.flow-post-moderated-censor {
				padding-left: 22px;

				background-position: left;
				background-size: 14px auto;
				background-repeat: no-repeat;
			}

			&.flow-post-moderated-hide {
				.background-image-svg('../../base/images/hidden_normal.svg', '../../base/images/hidden_normal.png');

				&:hover {
					.background-image-svg('../../base/images/hidden_hover.svg', '../../base/images/hidden_hover.png');
				}
			}

			&.flow-post-moderated-delete {
				.background-image-svg('../../base/images/deleted_normal.svg', '../../base/images/deleted_normal.png');

				&:hover {
					.background-image-svg('../../base/images/deleted_hover.svg', '../../base/images/deleted_hover.png');
				}
			}

			&.flow-post-moderated-censor {
				.background-image-svg('../../base/images/suppressed_normal.svg', '../../base/images/suppressed_normal.png');

				&:hover {
					.background-image-svg('../../base/images/suppressed_hover.svg', '../../base/images/suppressed_hover.png');
				}
			}
		}

		&.flow-post-moderated-visible {
			.flow-post-moderated-message {
				&.flow-post-moderated-hide {
					.background-image-svg('../../base/images/hidden_active.svg', '../../base/images/hidden_active.png');
				}

				&.flow-post-moderated-delete {
					.background-image-svg('../../base/images/deleted_active.svg', '../../base/images/deleted_active.png');
				}

				&.flow-post-moderated-censor {
					.background-image-svg('../../base/images/suppressed_active.svg', '../../base/images/suppressed_active.png');
				}
			}
		}

		.flow-post-main {
			// hide post if it's been moderated (can be toggled back via JS)
			display: none;

			color: #aaa;

			// hide non-essential elements
			.flow-post-title,
			.flow-datestamp {
				display: none;
			}
		}
	}

	.flow-post-container {
		// hacky way to flatten conversation;
		// make anything over 2 indentation levels appear on same level
		margin-top: 0px;
		.flow-post-container {
			padding-left: 0px;
		}
	}
}
