// complete view is default
.flow-collapse-complete {
	.flow-topic-posts-meta-minimal {
		display: none;
		margin: 0;
	}
}

// medium-collapsed: children not visible, but full topic details
.flow-collapse-full {
	// also hide minimal meta info here
	.flow-collapse-complete;

	.flow-topic-children-container {
//		display: none; // hiding is done in JS, with slideUp effect
	}
}

// max-collapsed: children not visible, condensed title
.flow-collapse-one-line {
	.flow-topic-title {
		overflow: hidden;
		white-space: nowrap;
		padding: 0 !important;

		.flow-realtitle {
			text-overflow: ellipsis;
		}
	}

	.flow-topic-posts-meta,
	.flow-datestamp {
		display: none;
	}

	.flow-topic-posts-meta-minimal {
		display: block;

		// position in upper right hand corner
		position: absolute;
		right: 22px;
		top: 15px;

		font-weight: bold;
		color: #FFF;
		background-color: #CCC;

		// title height = 30px; this only 22, so add 4px margin bottom & top
		line-height: 22px;
		height: 22px;
		margin: 4px 0;
		padding: 0 10px;

		// this creates the small bottom-right arrow
		&:after {
			// :after should have some content in order to show up
			content: '.';
			text-indent: -9999px;
			display: block;

			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-left: 5px solid #CCC;

			position: relative;
			bottom: 5px; // "icon" height - arrow height
			// calc's are LESS-escaped below because I want CSS to do the
			// calc, not LESS (which incorrectly returns 110%)
			left: calc(~"100% + 10px"); // "icon" width + "icon" padding-right
		}
	}

	.flow-topic-children-container {
//		display: none; // hiding is done in JS, with slideUp effect
	}
}
