.mw-flow-ui-topicWidget {
	&-header {
		background-color: #ccc;
		padding: 0.5em;
		width: 100%;

		&-title {
			width: 100%;

			h2&-content {
				font-size: 1.5em;
				margin: 0 2.5em 0.15em 0;
				padding: 0;
				border-bottom: 0;
				font-family: sans-serif;
				font-weight: bold;
				word-break: break-word;
				word-wrap: break-word;
				overflow: visible;
			}
		}

		&-actions {
			width: 1em;

			&-menu {
				z-index: 1;
			}
		}
	}
}