// based on Flow Prototype/Design/Iteration 5 "Buttons & Flyout Options"
@neutral-base: #fff;
@neutral-active: #ccc;

@constructive-base: #00af8b;
@constructive-active: #00926c;

@destructive-base: #d11d13;
@destructive-active: #b51700;

@destructive-medium-base: #ff5d00;
@destructive-medium-active: #bf4600;

@destructive-low-base: #ffb50d;
@destructive-low-active: #e0a00b;

@warning: #347bff;
@warning-border: #1059e1;